* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .tf {
    background-image: url("../img/bg-about-tf.png");
    /* position: relative; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    .TF {
      padding-top: 30vh;
      overflow-x: hidden;
      .TF-text {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 60%;
        padding: 25px;
        background: rgba(154, 178, 112, 0.68);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 15px;
        text-align: center;
        @media (max-width: 567.95px) {
          width: 75%;
        }
        h1 {
          font-family: $font-abril;
          font-size: 5rem;
          line-height: 5rem;
          color: $darker-blue;
          overflow-y: hidden;
          @media (max-width: 567.95px) {
            font-size: 4rem;
          }
        }
      }
      /* Note: backdrop-filter has minimal browser support */
      .ITS-text {
        margin-top: 20px;
        padding: 5px;
        width: 36%;
        margin-left: auto;
        margin-right: auto;
        background: rgba(253, 231, 182, 0.84);
        border-radius: 15px;
        overflow-x: hidden;
        h2 {
          padding: 0.5em;
          font-family: Abril Fatface;
          font-size: 1.4rem;
          text-align: center;
          overflow-x: hidden;
          color: $darker-blue;
        }
      }
    }

  }
  .EP {
    background-image: url("../img/bg-ep.png");
    overflow-y: hidden;
    background-position: center;
    background-size: cover;
    .ep-title {
      margin-top: 6rem;
    }
    h1 {
      color: $darker-blue;
      text-align: center;
      font-family: $font-abril;
      @media (min-width: 768px) {
      font-size: 4rem;
      }
      @media (max-width: 568.75px) {
        font-size: 2rem;
      }
    }
    .Ep-text {
      background: rgba(253, 231, 182, 0.63);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      width: 80%;
      height: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      /* position: absolute; */
      /* padding-top: 2em; */
      /* -webkit-box-align: center; */
      -ms-flex-align: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20px;
      margin-bottom: 9rem;
      padding: 2em;
      font-weight: 500;
      text-align: justify;
      margin-top: 6rem;
      p {
        @media (min-width: 768px) {
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
          font-size: 2rem;
          font-family: $font-zilla;
          color: #839B4E;
        }
        @media (max-width: 568.75px) {
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
          font-size: 1rem;
          font-family: $font-zilla;
          color: #839B4E;
        }
      }
    }
  }

  
  .bidang-minat {
    background-color: #c5d8ab;
    display: flex;
    position: relative;
    .container {
      .vektor {
        position: absolute;
        right: 9%;
        top: 7%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .bidmin-title {
        margin-top: 3rem;
        font-family: Abril Fatface;
        display: flex;
        float: left;
        .number {
          p{
          font-family: $font-abril;
          font-size: 12rem;
          line-height: 14rem;
          color: $darker-blue;
          }
        }
        .title {
          margin-left: 3rem;
          line-height: 5em;
          color: #839B4E;
          
          .bidmin-tf {
            font-family: $font-abril;
            font-size: 4rem;
          }
          .sub-title {
            display: inline-flex;
            .di {
              font-family: $font-abril;
              font-size: 2.5rem;
            }
            .tff {
              font-size: 4rem;
              font-family: $font-abril;
            }
          }
        }
      }
      .content-bidmin {
        display: inline-block;
        padding-bottom: 6rem;
        ul {
          margin-top: 1.5rem;
          padding-left: 2.4rem;
          list-style: none;
          li {
            font-family: Zilla Slab;
            font-size: 2.25rem;
            background: linear-gradient(
              90deg,
              #fde7b6 0%,
              rgba(253, 231, 182, 0) 118.48%
            );
            border: 1px solid $darker-blue;
            color: $darker-blue;
            box-sizing: border-box;
            padding: 0.6rem 1rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  
  .laboratorium {
    background-color: #9ab270;
    display: flex;
    position: relative;
    .container {
      .vektor {
        position: absolute;
        left: 9%;
        top: 4%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .lab-title {
        font-family: $font-abril;
        display: flex;
        float: right;
        margin-top: 2rem;
        .number {
          p{
          font-family: $font-abril;
          font-size: 11rem;
          line-height: 14rem;
          color: $darker-blue;
          }
        }
        .title {
          margin-left: 3rem;
          line-height: 5em;
          color: #FDE7B6;
          .labs {
            font-family: $font-abril;
            font-size: 4rem;
          }
          .sub-title {
            display: inline-flex;
            .di {
              font-size: 2.5rem;
              font-family: $font-abril;
            }
            .tff {
              font-size: 4rem;
              font-family: $font-abril;
            }
          }
        }
      }
      .content-lab {
        display: inline-block;
        padding-bottom: 5rem;
        margin-left: 4rem;
          a {
            display: block;
            text-decoration: none;
              color: #fff;
              padding: 0;
              font-family: Zilla Slab;
              font-size: 2.4rem;
              background: linear-gradient(
                90deg,
                #424563 0%,
                rgba(66, 74, 99, 0) 119.01%
              );
              border: 1px solid #fde7b6;
              box-sizing: border-box;
              margin-bottom: 1rem;
              padding: 1rem 1rem;
              
          }
          a:hover {
            color: #a32c38;
            background: #fde7b6;
            display: block;
            transition: 0.3s;
          }
      
      }
    }
  }
  
  @media (min-width: 321px) and (max-width: 450px) {
    .bidang-minat {
      margin-top: -2%;
      overflow: hidden;
      .container {
        .vektor {
          position: absolute;
          right: -7%;
          top: 4%;
          img {
            max-width: 45%;
            height: auto;
          }
        }
        .bidmin-title {
          margin-top: 1rem;
          padding: 2rem 0;
          margin-left: 2rem;
          float: left;
          .number {
            p{
            font-size: 4rem;
            line-height: 1rem;
            }           
          }
          .title {
            margin-left: 1rem;
            line-height: 2.5rem;
            .bidmin-tf {
              font-size: 1.8rem;
            }
            .sub-title {
              .di {
                font-size: 1.2rem;
              }
              .tff {
                font-size: 1.8rem;
              }
            }
          }
        }
        .content-bidmin {
          display: inline-block;
          ul {
            list-style: none;
            padding: 0 1.3rem;
            li {
              font-family: Zilla Slab;
              font-size: 1.25rem;
              background: linear-gradient(
                90deg,
                #fde7b6 0%,
                rgba(253, 231, 182, 0) 118.48%
              );
              border: 1px solid $darker-blue;
              box-sizing: border-box;
              margin-bottom: 0.5em;
              padding: 0.3rem 0.5rem;
            }
          }
        }
      }
    }
    .laboratorium {
      .container {
        padding-left: -2rem;
        .vektor {
          position: absolute;
          left: 4%;
          top: 4%;
          img {
            max-width: 45%;
            height: auto;
          }
        }
        .lab-title {
          font-family: $font-abril;
          display: flex;
          float: right;
          margin-top: 2rem;
          .number {
            p{
            font-family: $font-abril;
            font-size: 5rem;
            line-height: 5rem;
            color: $darker-blue;
            }
          } .title {
            margin-bottom: 2rem;
            margin-left: 1rem;
            line-height: 2.5rem;
            .labs {
              font-size: 1.8rem;
            }
            .sub-title {
              .di {
                font-size: 1.2rem;
              }
              .tff {
                font-size: 1.5rem;
              }
            }
          }
        }
        .content-lab {
          display: inline-block;
          padding-bottom: 3rem;
            a {
              text-decoration: none;
              color: #fff;
              padding: 0;
              font-family: Zilla Slab;
              font-size: 1.25rem;
              background: linear-gradient(
                90deg,
                #424563 0%,
                rgba(66, 74, 99, 0) 119.01%
              );
              border: 1px solid #fde7b6;
              box-sizing: border-box;
              margin-left: -2rem;
              margin-right: 2rem;
              margin-bottom: 0.5rem;
              padding: 0.5rem 1rem;
              :hover {
                color: #a32c38;
                background-color: #fde7b6;
                display: block;
                transition: 0.3s;
              }
            }
            
          }
        }
      }
  }