#main-definition {
    position: relative;
    background-color: $primary-event;
    padding-bottom: 2rem;
    .definition-content {
        padding-left: 200px;
        .definition-title {
            height: 160px;
            line-height: 160px;
            font-family: $font-lobster;
            font-size: 3.5rem;
            letter-spacing: 0.05em;
            color: $darker-blue;
        }
        .definition-desc {
            position: relative;
            padding: 0 0 2rem 3rem;
            border-left: 2px solid $darker-snow;
            border-bottom: 2px solid $darker-snow;
            margin-bottom: 3rem;
            font-family: $font-zilla;
            font-size: 1.25rem;
            line-height: 1.5rem;
            text-align: justify;
            color: $darker-snow;
            .box {
                position: absolute;
                content: "";
                top: 0;
                left: -2px;
                width: 22px;
                height: 22px;
                border: 2px solid $darker-snow;
                .inner {
                    position: absolute;
                    content: "";
                    top: 10px;
                    left: -2px;
                    width: 10px;
                    height: 10px;
                    background-color: $darker-snow;
                }
            }
        }
    }
    .main-definition-wire {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #main-definition {
        position: relative;
        background-color: $primary-event;
        min-height: 100vh;
        .definition-content {
            padding-left: 1rem;
            padding-right: 1rem;
            .definition-title {
                height: 160px;
                line-height: 160px;
                font-family: $font-lobster;
                font-size: 3rem;
                text-align: justify;
                letter-spacing: 0.05em;
                color: $darker-blue;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    #main-definition {
        .main-definition-wire {
            position: static;
            display: block;
        }
        .definition-content {
            .definition-title {
                height: fit-content;
                line-height: 5rem;
                text-align: center !important;
            }
        }
    }
}
