/* header */
#header {
    overflow-x: hidden;
    background-color: $color-white;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: 80vh;
    display: flex;
    flex-direction: column;

    .header-epw {
        margin: auto;
        padding-right: 0px;
        padding-left: 0px;
        align-items: center !important;
        justify-content: center !important;

        .logo-epw {
            width: 310.8px;
            padding-right: 0px;
        }
    }

    .header-2022 {
        padding-right: 0px;
        margin-top: -30px;

        p {
            text-align: center;
            font-size: 60px;
            font-family: $font-abril;
            color: $secondary-blue;
        }

    }

    .container {
        a {
            position: fixed;
            bottom: 10px;
            right: 20px;
            z-index: 5;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
}

/* end of header */
/* pembatas 1 */
.garis {
    margin-top: 0px;
    height: 53px;
    width: 100%;
    max-width: 100vw;
}

/* pembatas 1 */
/* definiton 1 */
#main-theme {
    background-color: $primary-event;
    margin-top: -2px;
    min-height: 100vh;
    max-height: 500px;
    display: flex;
    flex-direction: column;

    .circuit-atas {
        width: 156px;
        max-width: 100%;
    }

    .theme-title {
        position: relative;

        .theme-sun {
            position: absolute;
            top: 0;
            right: -1rem;
        }

        .small-text {
            font-size: 2rem;
            font-family: $font-lobster;
        }

        .large-text {
            font-size: 4rem;
            font-family: $font-lobster;
        }

        .blue-text {
            color: $darker-blue;
        }

        .red-text {
            color: $darker-snow;
        }

        .min-left {
            margin-left: -1rem;
        }
    }
}

/* end of definition 1*/
/* definition 2 */
#main-definition {
    position: relative;
    background-color: $primary-event;
    padding-bottom: 2rem;
    max-width: 100vw;
    margin-top: -1px;

    .definition-content {
        padding-left: 200px;

        .definition-title {
            height: 160px;
            line-height: 160px;
            font-family: $font-lobster;
            font-size: 3.5rem;
            letter-spacing: 0.05em;
            color: $darker-blue;
        }

        .definition-desc {
            position: relative;
            padding: 0 0 2rem 3rem;
            border-left: 2px solid $darker-snow;
            border-bottom: 2px solid $darker-snow;
            margin-bottom: 3rem;
            font-family: $font-zilla;
            font-size: 1.25rem;
            line-height: 1.5rem;
            text-align: justify;
            color: $darker-snow;

            .box {
                position: absolute;
                content: "";
                top: 0;
                left: -2px;
                width: 22px;
                height: 22px;
                border: 2px solid $darker-snow;

                .inner {
                    position: absolute;
                    content: "";
                    top: 10px;
                    left: -2px;
                    width: 10px;
                    height: 10px;
                    background-color: $darker-snow;
                }
            }
        }
    }

    .main-definition-wire {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        max-width: 100%;
    }
}

/* end of definition 2 */
/* events */
#events {
    position: relative;
    background-color: $darker-blue;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .rainbow {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100vw;
        max-width: 100%;
    }

    .container.EVENTS {
        .events-header {
            position: relative;

            .events {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 350px;
                max-width: 100%;
            }
        }

        .d-flex {
            flex-wrap: wrap;
            margin-top: 225px;

            .EPC-events {
                color: #FFEBB0;
                font-family: $font-abril;
                font-size: 36px;
                text-decoration: none;
                border: 3px solid #FDE7B6;
                box-sizing: border-box;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 80px;
                padding-right: 80px;
                margin-bottom: 10px;
            }

            .SNOW-events {
                color: #FFEBB0;
                font-family: $font-abril;
                font-size: 36px;
                text-decoration: none;
                border: 3px solid #FDE7B6;
                box-sizing: border-box;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 62px;
                padding-right: 62px;
                margin-bottom: 10px;
            }

            .GR-events {
                color: #FFEBB0;
                font-family: $font-abril;
                font-size: 32px;
                text-align: center;
                text-decoration: none;
                border: 3px solid #FDE7B6;
                box-sizing: border-box;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-left: 60px;
                padding-right: 60px;
                margin-bottom: 10px;
            }

            .BE-events {
                color: #FFEBB0;
                font-family: $font-abril;
                font-size: 36px;
                text-decoration: none;
                border: 3px solid #FDE7B6;
                box-sizing: border-box;
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 60px;
                padding-right: 60px;
                margin-bottom: 10px;
            }
        }
    }
}

/* end of events */
/* epc */
#epc {
    background: linear-gradient(92.52deg, #C5D8AB 25%, rgba(197, 216, 171, 0.07) 98.14%);
    max-width: 100vw;
    min-height: 100vh;
    position: relative;

    .epc-nih {
        position: absolute;
        z-index: -1;
        right: 0px;
        top: 0px;
        min-width: 100vw;
        height: 100%;
        min-height: 100vh;
    }

    .container.epc {
        padding: 10px 0;

        .epc-header {
            position: relative;

            .epc-icon {
                position: absolute;
                right: 0px;
                z-index: 1;
                width: 342px;
                max-width: 100%;
                mix-blend-mode: overlay;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }

            .epc-title {
                position: relative;
                font-family: $font-abril;
                z-index: 2;
                font-size: 128px;
                color: #FFEBB0;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
                padding: 48px 0;

            }
        }

        .epc-desc {
            border: 1px solid rgba(242, 242, 242, 0.17);
            padding: 20px 50px;
            background: rgba(242, 242, 242, 0.17);
            backdrop-filter: blur(4px);

            p {
                font-family: $font-zilla;
                font-size: 28px;
                font-weight: 600;
                color: $color-white;
            }

        }

        .epc-btn {
            display: inline-block;
            margin-top: 80px;
            margin-bottom: 32px;
            padding: 10px 43px;
            font-size: 18px;
            background-color: $darker-blue;
            font-family: $font-zilla;
            color: #FFEBB0;
            filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
            text-decoration: none;
        }
    }

}

/* end of epc */
/* SNOW */
#SNOW {
    background: linear-gradient(92.72deg, #DD949B 26.08%, rgba(221, 148, 155, 0) 98.19%);
    max-width: 100vw;
    min-height: 100vh;
    position: relative;

    .snow-nih {
        position: absolute;
        z-index: -1;
        right: 0px;
        top: 0;
        height: 100%;
        min-height: 100vh;
    }

    .container.SNOW {
        padding: 10px 0;

        .SNOW-header {
            position: relative;

            .logo-snow {
                position: absolute;
                z-index: 1;
                left: 0px;
                width: 342px;
                max-width: 100%;
                mix-blend-mode: overlay;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }

            .text-snow {
                position: relative;
                font-family: $font-abril;
                z-index: 2;
                font-size: 108px;
                color: $color-white;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
                padding: 48px 0;
            }
        }

        .snow-desc {
            p {
                font-family: $font-zilla;
                font-size: 28px;
                font-weight: 600;
                color: $color-white;
            }

            border: 1px solid rgba(242, 242, 242, 0.17);
            padding: 20px 50px;
            background: rgba(242, 242, 242, 0.17);
            backdrop-filter: blur(4px);
        }


        .snow-btn {
            display: inline-block;
            margin-top: 80px;
            margin-bottom: 32px;
            padding: 10px 43px;
            font-size: 18px;
            background-color: $darker-snow;
            font-family: $font-zilla;
            color: #FFEBB0;
            filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
            text-decoration: none;
        }
    }

}

/* end of SNOW */
/* Grand Roadshow */
#Grand-Roadshow {
    background: linear-gradient(93.42deg, rgba(253, 231, 182, 1) 25%, rgba(253, 231, 182, 0.07) 119.42%);
    min-height: 100vh;
    max-width: 100vw;
    position: relative;

    .GR-nih {
        position: absolute;
        z-index: -1;
        right: 0px;
        top: 0px;
        height: 100%;
        min-height: 100vh;
    }

    .container.Grand-Roadshow {
        padding: 10px 0;

        .GR-header {
            position: relative;

            .logo-GR {
                position: absolute;
                left: 0px;
                z-index: 1;
                width: 438.38px;
                max-width: 100%;
                mix-blend-mode: overlay;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }


            .text-grand {
                position: relative;
                z-index: 2;
                font-family: $font-abril;
                font-style: normal;
                font-weight: normal;
                font-size: 88px;
                color: #FFEBB0;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
                padding-top: 0;
            }

            .text-roadshow {
                position: relative;
                z-index: 2;
                font-family: $font-abril;
                font-style: normal;
                font-weight: normal;
                font-size: 88px;
                color: $color-white;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
                padding-top: 0px;
            }
        }

        .definition-GR {
            p {
                font-family: $font-zilla;
                font-size: 28px;
                font-weight: 600;
                color: $color-white;
            }

            border: 1px solid rgba(242, 242, 242, 0.17);
            padding: 20px 50px;
            background: rgba(242, 242, 242, 0.17);
            backdrop-filter: blur(4px);
        }


        .GR-btn {
            display: inline-block;
            margin-top: 80px;
            margin-bottom: 32px;
            padding: 10px 43px;
            font-size: 18px;
            background-color: $darker-event;
            font-family: $font-zilla;
            color: #FFEBB0;
            filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
            text-decoration: none;
        }
    }

}

/* End of Grand Roadshow */
/* Big Event */
#Big-Event {
    background: linear-gradient(93.22deg, #979FBA 25%, rgba(151, 159, 186, 0.07) 97.93%);
    min-height: 100vh;
    max-width: 100vw;
    position: relative;

    .BE-nih {
        position: absolute;
        z-index: -1;
        right: 0px;
        top: 0px;
        height: 100%;
        min-height: 100vh;
    }

    .container.BE {
        padding: 10px 0;

        .BE-header {
            position: relative;

            .logo-BE {
                position: absolute;
                left: 0;
                z-index: 1;
                width: 362.88px;
                height: 362px;
                max-width: 100%;
                mix-blend-mode: overlay;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }

            .text-BE {
                position: relative;
                z-index: 2;
                font-family: $font-abril;
                font-size: 108px;
                color: #FFEBB0;
                text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
                padding: 48px 0;
            }
        }

        .BE-desc {
            p {
                font-family: $font-zilla;
                font-size: 28px;
                color: $color-white;
                font-weight: 600;
            }

            border: 1px solid rgba(242, 242, 242, 0.17);
            padding: 20px 50px;
            background: rgba(242, 242, 242, 0.17);
            backdrop-filter: blur(4px);
        }


        .BE-btn {
            display: inline-block;
            margin-top: 80px;
            margin-bottom: 32px;
            padding: 10px 43px;
            font-size: 18px;
            background-color: $darker-blue;
            font-family: $font-zilla;
            color: #FFEBB0;
            text-decoration: none;
        }
    }

}

/* end of Big Event*/
/* responsive */
@media screen and (max-width: 992px) {
    #header {
        .header-epw {
            padding-top: 50px;
        }

        .header-2022 {
            padding-top: 20px;
            font-size: 56px;
        }
    }

    #events {
        .container.EVENTS {
            .events-header {
                .events {
                    width: 340px;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    #header {
        min-height: 100vh;
        max-height: 100vh;

        .header-epw {
            padding-top: 100px;
        }

        .header-2022 {
            padding-top: 20px;
            font-size: 55px;
        }
    }

    #main-theme {
        .theme-title {
            .large-text {
                font-size: 3.5rem;
            }
        }
    }

    #main-definition {
        position: relative;
        background-color: #FDE7B6;
        min-height: 100vh;

        .definition-content {
            padding-left: 1rem;
            padding-right: 1rem;

            .definition-title {
                height: 160px;
                line-height: 160px;
                font-family: $font-lobster;
                font-size: 3rem;
                text-align: justify;
                letter-spacing: 0.05em;
                color: $darker-blue;
            }
        }
    }

    #events {
        .container.EVENTS {
            .events-header {
                .events {
                    padding-top: 50px;
                    width: 300px;
                }
            }
        }
    }
}

@media screen and (max-width:576px) {
    #header {
        min-height: 80vh;
        height: 100vh;
        max-height: 100vh;

        .header-epw {
            padding-top: 120px;

            .logo-epw {
                width: 60%;
            }
        }

        .header-2022 {
            font-size: 35px;

            .logo-2022 {
                padding-top: 30px;
                width: 70%;
            }
        }

        .container {
            a {
                right: 5px;
                bottom: 5px;
            }
        }
    }

    #main-theme {
        .theme-title {
            .theme-sun {
                width: 45px;
            }
        }
    }

    #events {
        .rainbow {
            padding-top: 0px;
            margin-top: 0px;

        }

        .container.EVENTS {
            .d-flex {
                font-size: 30px;

                .BE-events {
                    text-align: center;
                }
            }
        }
    }

    #epc {
        .container.epc {
            .epc-header {
                margin: 0 20px 0 20px;

                .epc-title {
                    font-size: 80px;
                }
            }

            .epc-desc {
                padding: 20px 50px;
                margin: 0 20px 0 20px;

                p {
                    font-size: 20px;
                }
            }
        }
    }

    #SNOW {
        .container.SNOW {
            .SNOW-header {
                margin: 0 20px 0 20px;

                .text-snow {
                    font-size: 80px;
                }
            }

            .snow-desc {
                padding: 20px 50px;
                margin: 0 20px 0 20px;

                p {
                    font-size: 20px;
                }
            }
        }
    }

    #Grand-Roadshow {
        .container.Grand-Roadshow {
            .GR-header {
                margin: 0 20px 0 20px;

                .text-grand {
                    font-size: 52px;
                }

                .text-roadshow {
                    font-size: 52px;
                }
            }

            .definition-GR {
                padding: 20px 50px;
                margin: 0 20px 0 20px;

                p {
                    font-size: 20px;
                }
            }
        }
    }

    #Big-Event {
        .container.BE {
            .BE-header {
                margin: 0 20px 0 20px;

                .text-BE {
                    padding-top: 70px;
                    font-size: 70px;
                }
            }

            .BE-desc {
                padding: 20px 50px;
                margin: 0 20px 0 20px;

                p {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {
    #main-theme {
        .theme-title {
            .large-text {
                font-size: 3.5rem;
            }
        }
    }

    #main-definition {
        .main-definition-wire {
            position: static;
            display: block;
        }

        .definition-content {
            .definition-title {
                height: fit-content;
                line-height: 5rem;
                text-align: center !important;
            }
        }
    }
}

@media screen and (max-width:370px) {
    #header {
        .header-epw {
            padding-top: 50px;
        }

        .header-2022 {
            padding-top: 20px;

            p {
                font-size: 35px;
            }
        }
    }

    #main-theme {
        .theme-title {
            display: flex;
            flex-direction: column;
            padding-left: 15px;
            padding-right: 15px;

            .theme-sun {
                width: 40px;
            }

            .large-text {
                font-size: 2rem;
            }
        }
    }
}
