#snow-header {
    background: linear-gradient(
        to right,
        $primary-event 50%,
        $primary-snow 50%
    );
    position: relative;
    padding: 4rem 0;
    .header {
        min-height: 70vh;
        &-logo {
            width: 300px;
            max-width: 100%;
            display: inline-block;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        &-title {
            font-family: $font-abril;
            font-size: 4.5rem;
            letter-spacing: 0.2em;
            color: $darker-blue;
        }
        &-desc {
            font-family: $font-lobster;
            font-size: 2.25rem;
            color: $darker-blue;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
        }
    }
    .header-line {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        height: 10px;
        width: 100%;
        background-color: $darker-blue;
        opacity: 1;
        margin-bottom: 2rem;
    }
}

#snow-about {
    background-color: $primary-event;
    padding: 4rem 0;
    .about {
        &-header {
            position: relative;
            .header-line {
                position: absolute;
                content: "";
                background-color: $primary-snow;
                opacity: 1;
                margin: 0;
                height: 10px;
                width: 100%;
                left: 0;
            }
            .header-line:nth-of-type(1) {
                top: 0;
            }
            .header-line:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            .header-line:nth-of-type(3) {
                bottom: 0;
            }
            .about-title {
                position: relative;
                z-index: 2;
                font-family: $font-abril;
                font-size: 2.5rem;
                letter-spacing: 0.1rem;
                padding: 0.5rem 2rem;
                border-radius: 3rem;
                width: fit-content;
                color: $primary-event;
                background-color: $darker-blue;
            }
        }
        &-content {
            background-color: $darker-blue;
            .content-text {
                font-family: $font-zilla;
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 2rem;
                color: $primary-event;
            }
        }
        &-gallery {
            background-color: $primary-snow;
            padding: 3rem 5rem;
            border-radius: 2rem;
            width: 1028px;
            max-width: 100%;
            .gallery-photo {
                background-color: grey;
                width: 100%;
                height: 170px;
                border-radius: 1.5rem;
            }
        }
    }
}

#snow-desc {
    background-color: $primary-event;
    .description {
        padding: 5rem 3rem;
        border-radius: 3rem;
        background-color: $darker-blue;
        &-video {
            width: 750px;
            max-width: 100%;
            height: 425px;
            background-color: grey;
            margin-bottom: 4rem;
        }
        &-theme {
            background-color: $primary-snow;
            padding: 2.5rem 2rem;
            border-radius: 1.5rem;
            .theme-title {
                font-family: $font-abril;
                font-size: 2rem;
                color: $primary-event;
            }
            .theme-desc {
                font-family: $font-zilla;
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 1.75rem;
                color: $primary-event;
            }
        }
        &-subtheme {
            background-color: $primary-event;
            padding: 2.5rem 2rem;
            border-radius: 1.5rem;
            .subtheme-title {
                font-family: $font-abril;
                font-size: 2rem;
                color: $darker-blue;
            }
            .subtheme-desc {
                font-family: $font-zilla;
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 1.75rem;
                color: $darker-blue;
            }
        }
    }
}

#snow-prize {
    background-color: $darker-blue;
    padding: 4rem 0;
    position: relative;
    min-height: 700px;
    .prize-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        max-width: 100%;
        mix-blend-mode: overlay;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        opacity: 0.5;
    }
    .container {
        max-width: 1000px;
        position: relative;
        z-index: 2;
    }
    .prize {
        &-header {
            position: relative;
            .header-line {
                position: absolute;
                content: "";
                background-color: $primary-event;
                opacity: 1;
                margin: 0;
                height: 10px;
                width: 100%;
                left: 0;
            }
            .header-line:nth-of-type(1) {
                top: 0;
            }
            .header-line:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            .header-line:nth-of-type(3) {
                bottom: 0;
            }
            .prize-title {
                position: relative;
                z-index: 2;
                font-family: $font-abril;
                font-size: 2.5rem;
                letter-spacing: 0.5rem;
                padding: 0.5rem 2rem;
                border-radius: 3rem;
                width: 425px;
                max-width: 100%;
                color: $primary-event;
                background-color: $primary-snow;
            }
        }
        &-content {
            width: 330px;
            max-width: 100%;
            .prize-category {
                font-family: $font-abril;
                font-size: 1.75rem;
                color: $primary-event;
                background-color: $primary-snow;
                border: 3px solid $primary-event;
                padding: 1rem 0;
                text-transform: uppercase;
            }
            .prize-detail {
                background-color: $primary-event;
                border-radius: 3rem;
                padding: 0.75rem;
                border: 3px solid $darker-snow;
                box-sizing: border-box;
                margin: 2.5rem auto;
                position: relative;
                height: 74px;
                .prize-level {
                    color: $secondary-snow;
                    font-family: $font-zilla;
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 1.25rem;
                }
                .prize-value {
                    color: $darker-snow;
                    font-family: $font-zilla;
                    font-weight: bold;
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                }
                .prize-trophy {
                    position: absolute;
                    top: -3px;
                    bottom: -3px;
                    z-index: 2;
                    width: 74px;
                    border: 3px solid $darker-snow;
                    border-radius: 50%;
                }
                .prize-trophy.right-place {
                    right: -3px;
                    left: unset;
                }
                .prize-trophy.left-place {
                    right: unset;
                    left: -3px;
                }
            }
        }
    }
}

#snow-timeline {
    background-color: $primary-snow;
    padding: 4rem 0;
    position: relative;
    .timeline {
        &-header {
            position: relative;
            .header-line {
                position: absolute;
                content: "";
                background-color: $darker-blue;
                opacity: 1;
                margin: 0;
                height: 10px;
                width: 100%;
                left: 0;
            }
            .header-line:nth-of-type(1) {
                top: 0;
            }
            .header-line:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            .header-line:nth-of-type(3) {
                bottom: 0;
            }
            .timeline-title {
                position: relative;
                z-index: 2;
                font-family: $font-abril;
                font-size: 2.5rem;
                letter-spacing: 0.5rem;
                padding: 0.5rem 2rem;
                border-radius: 3rem;
                width: 425px;
                max-width: 100%;
                color: $primary-snow;
                background-color: $primary-event;
            }
        }
        &-desc {
            background-color: $primary-event;
            padding: 0.5rem 1rem;
            margin: 1rem 0;
            border-radius: 3rem;
            font-family: $font-zilla;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 2rem;
            color: $darker-blue;
        }
        &-borders {
            width: 39px;
            max-width: 100%;
            height: 100%;
            .borders-line {
                height: 100%;
                width: 5px;
                content: "";
                background-color: $primary-event;
            }
        }
        &-date {
            margin: 1.5rem 0 2rem;
            border-radius: 3rem;
            font-family: $font-zilla;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 2rem;
            letter-spacing: 0.04em;
            color: $darker-blue;
        }
    }
}

#snow-testimony {
    background-color: $darker-blue;
    padding: 4rem 0;
    position: relative;
    min-height: 700px;
    .testimony-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        max-width: 100%;
        mix-blend-mode: overlay;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        opacity: 0.5;
    }
    .container {
        max-width: 1000px;
        position: relative;
        z-index: 2;
    }
    .testimony {
        &-header {
            position: relative;
            .header-line {
                position: absolute;
                content: "";
                background-color: $primary-event;
                opacity: 1;
                margin: 0;
                height: 10px;
                width: 100%;
                left: 0;
            }
            .header-line:nth-of-type(1) {
                top: 0;
            }
            .header-line:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            .header-line:nth-of-type(3) {
                bottom: 0;
            }
            .testimony-title {
                position: relative;
                z-index: 2;
                font-family: $font-abril;
                font-size: 2.5rem;
                letter-spacing: 0.5rem;
                padding: 0.5rem 2rem;
                border-radius: 3rem;
                width: 425px;
                max-width: 100%;
                color: $primary-event;
                background-color: $primary-snow;
            }
        }
        &-card {
            background-color: $primary-event;
            border: 3px solid $secondary-snow;
            border-radius: 1.5rem;
            padding: 2rem;
            padding-left: 10rem;
            margin: 2rem 0 0 5rem;
            position: relative;
            .card-photo {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-40%, -50%);
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 3px solid $secondary-snow;
                background-color: $primary-event;
            }
            .card-content {
                font-family: $font-zilla;
                font-size: 1rem;
                line-height: 1.25rem;
                text-align: justify;
                color: $darker-blue;
            }
            .card-author {
                width: fit-content;
                font-family: $font-zilla;
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 1.5rem;
                color: #424a63;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    #snow-testimony {
        .testimony {
            &-card {
                width: 300px;
                max-width: 100%;
                padding-left: 2rem;
                padding-top: 7rem;
                margin: 8rem auto 0;
                .card-photo {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 150px;
                    height: 150px;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
