@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zilla Slab", serif;
    font-size: 16px;
}

@media screen and (max-width: 576px) {
    * {
        font-size: 12px;
    }
}

html {
    scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.epw-logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 100px;
}

#comingsoon {
    background-color: #c5d8ab;
    position: relative;
}

#comingsoon .comingsoon {
    min-height: 100vh;
    min-width: 100vw;
}

#comingsoon .comingsoon-title {
    font-family: "Abril Fatface", cursive;
    font-size: 4rem;
    color: #424a63;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#comingsoon .comingsoon-img {
    width: 300px;
    max-width: 100%;
    filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
}

#notfound {
    background-color: #c5d8ab;
    position: relative;
}

#notfound .notfound {
    min-height: 100vh;
    min-width: 100vw;
}

#notfound .notfound-title {
    font-family: "Abril Fatface", cursive;
    color: #424a63;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#notfound .notfound-404 {
    display: block;
    font-size: 4rem;
}

#notfound .notfound-desc {
    display: block;
    font-size: 3rem;
}

@media screen and (max-width: 576px) {
    .epw-logo {
        width: 70px;
    }
}

nav.navbar {
    background-color: #424a63;
    color: #fde7b6;
    height: 85px;
}

nav.navbar .navbar-rainbow {
    display: flex;
    height: 85px;
    content: "";
    margin-right: 2rem;
}

nav.navbar .navbar-rainbow .rainbow {
    width: 30px;
    height: inherit;
    transform: skewX(-30deg);
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(1) {
    background-color: #839b4e;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(2) {
    background-color: #fde7b6;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(3) {
    background-color: #df7833;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(4) {
    background-color: #a32c38;
}

nav.navbar button.navbar-toggler .fas {
    color: #fde7b6;
}

nav.navbar .navbar-nav {
    background-color: #424a63;
}

nav.navbar .navbar-nav a.nav-link {
    display: inline-block;
    height: fit-content;
    padding: 0 1.25rem;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: inherit;
    margin: auto 0;
}

nav.navbar .navbar-nav .dropdown .dropdown-menu {
    background-color: #65659b;
    border-color: #424a63;
}

nav.navbar .navbar-nav .dropdown .dropdown-menu a.dropdown-item {
    color: #fde7b6;
}

footer.footer-blue {
    background-color: #424a63;
}

footer.footer-blue .footer-logo {
    width: 355px;
    max-width: 100%;
}

footer.footer-blue .footer-desc {
    color: #f2f2f2;
}

footer.footer-blue .footer-desc .footer-title {
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    font-size: 3rem;
    margin-top: 2rem;
}

footer.footer-blue .footer-desc .footer-content {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    font-family: "Zilla Slab", serif;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1.5px;
    color: inherit;
    text-decoration: none;
}

footer.footer-blue .footer-desc .footer-content p {
    font-size: 1.75rem;
}

footer.footer-blue .footer-desc .footer-content span {
    font-size: 1.25rem;
}

footer.footer-blue .footer-desc .footer-content .footer-icon {
    padding-right: 1rem;
}

footer.footer-blue .copyright {
    font-family: "Zilla Slab", serif;
    color: #fde7b6;
    font-size: 1rem;
}

#epc {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(
        to right,
        #c5d8ab 25%,
        rgba(197, 216, 171, 0.07) 98.14%
    );
}

#epc .epc {
    padding: 10px 0;
}

#epc .epc-header {
    position: relative;
}

#epc .epc-header .epc-icon {
    position: absolute;
    z-index: 1;
    right: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    mix-blend-mode: overlay;
    width: 342px;
    max-width: 100%;
}

#epc .epc-header .epc-title {
    position: relative;
    z-index: 2;
    font-family: "Abril Fatface", cursive;
    font-size: 128px;
    color: #fde7b6;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    padding: 3rem 0;
}

#epc .epc-desc {
    background: rgba(242, 242, 242, 0.17);
    backdrop-filter: blur(4px);
    padding: 20px 50px;
}

#epc .epc-desc p {
    font-family: "Zilla Slab", serif;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.015em;
    color: #f2f2f2;
}

#epc .epc-btn {
    display: inline-block;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: #424a63;
    padding: 10px 43px;
    color: #fde7b6;
    font-family: "Abril Fatface", cursive;
    font-size: 18px;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
    text-decoration: none;
}

#epc .epc-bg {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

@media screen and (max-width: 992px) {
    #epc .epc-btn {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    #epc .epc-desc {
        margin-top: 1rem;
    }
    #epc .epc-desc p {
        font-size: 20px;
        line-height: 25px;
    }
}
/*# sourceMappingURL=style.css.map */
