@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  * {
    font-size: 12px;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.epw-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 100px;
}

#comingsoon {
  background-color: #c5d8ab;
  position: relative;
}

#comingsoon .comingsoon {
  min-height: 100vh;
  min-width: 100vw;
}

#comingsoon .comingsoon-title {
  font-family: "Abril Fatface", cursive;
  font-size: 4rem;
  color: #424a63;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#comingsoon .comingsoon-img {
  width: 300px;
  max-width: 100%;
  filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
}

#notfound {
  background-color: #c5d8ab;
  position: relative;
}

#notfound .notfound {
  min-height: 100vh;
  min-width: 100vw;
}

#notfound .notfound-title {
  font-family: "Abril Fatface", cursive;
  color: #424a63;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#notfound .notfound-404 {
  display: block;
  font-size: 4rem;
}

#notfound .notfound-desc {
  display: block;
  font-size: 3rem;
}

@media screen and (max-width: 576px) {
  .epw-logo {
    width: 70px;
  }
}

nav.navbar {
  background-color: #424a63;
  color: #fde7b6;
  height: 85px;
  z-index: 5;
}

nav.navbar .navbar-rainbow {
  display: flex;
  height: 85px;
  content: "";
  margin-right: 2rem;
}

nav.navbar .navbar-rainbow .rainbow {
  width: 30px;
  height: inherit;
  transform: skewX(-30deg);
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(1) {
  background-color: #839b4e;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(2) {
  background-color: #fde7b6;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(3) {
  background-color: #df7833;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(4) {
  background-color: #a32c38;
}

nav.navbar button.navbar-toggler .fas {
  color: #fde7b6;
}

nav.navbar .navbar-nav {
  background-color: #424a63;
}

nav.navbar .navbar-nav a.nav-link {
  display: inline-block;
  height: fit-content;
  padding: 0 1.25rem;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: inherit;
  margin: auto 0;
}

nav.navbar .navbar-nav .dropdown .dropdown-menu {
  background-color: #65659b;
  border-color: #424a63;
}

nav.navbar .navbar-nav .dropdown .dropdown-menu a.dropdown-item {
  color: #fde7b6;
}

footer.footer-blue {
  background-color: #424a63;
  margin-top: -1px;
}

footer.footer-blue .footer-logo {
  width: 355px;
  max-width: 100%;
}

footer.footer-blue .footer-desc {
  color: #f2f2f2;
}

footer.footer-blue .footer-desc .footer-title {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 3rem;
  margin-top: 2rem;
}

footer.footer-blue .footer-desc .footer-content {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1.5px;
  color: inherit;
  text-decoration: none;
}

footer.footer-blue .footer-desc .footer-content p {
  font-size: 1.75rem;
}

footer.footer-blue .footer-desc .footer-content span {
  font-size: 1.25rem;
}

footer.footer-blue .footer-desc .footer-content .footer-icon {
  padding-right: 1rem;
}

footer.footer-blue .copyright {
  font-family: "Zilla Slab", serif;
  color: #fde7b6;
  font-size: 1rem;
}

/* header */
#header {
  overflow-x: hidden;
  background-color: #f2f2f2;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  min-height: 80vh;
}

#header .header-epw {
  margin: auto;
  padding-top: 120px;
  padding-right: 0px;
  padding-left: 0px;
  align-items: center !important;
  justify-content: center !important;
}

#header .header-epw .logo-epw {
  width: 310.8px;
  padding-right: 0px;
}

#header .header-2022 {
  padding-right: 0px;
  margin-top: -30px;
}

#header .header-2022 p {
  text-align: center;
  font-size: 60px;
  font-family: "Abril Fatface", cursive;
  color: #65659b;
}

#header .container a {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* end of header */
/* pembatas 1 */
.garis {
  margin-top: 0px;
  height: 53px;
  width: 100%;
  max-width: 100vw;
}

/* pembatas 1 */
/* definiton 1 */
#main-theme {
  background-color: #fde7b6;
  margin-top: -2px;
  min-height: 100vh;
}

#main-theme .circuit-atas {
  width: 156px;
  max-width: 100%;
}

#main-theme .theme-title {
  position: relative;
}

#main-theme .theme-title .theme-sun {
  position: absolute;
  top: 0;
  right: -1rem;
}

#main-theme .theme-title .small-text {
  font-size: 2rem;
  font-family: "Lobster", cursive;
}

#main-theme .theme-title .large-text {
  font-size: 4rem;
  font-family: "Lobster", cursive;
}

#main-theme .theme-title .blue-text {
  color: #424a63;
}

#main-theme .theme-title .red-text {
  color: #75282c;
}

#main-theme .theme-title .min-left {
  margin-left: -1rem;
}

/* end of definition 1*/
/* definition 2 */
#main-definition {
  position: relative;
  background-color: #fde7b6;
  padding-bottom: 2rem;
  max-width: 100vw;
  margin-top: -1px;
}

#main-definition .definition-content {
  padding-left: 200px;
}

#main-definition .definition-content .definition-title {
  height: 160px;
  line-height: 160px;
  font-family: "Lobster", cursive;
  font-size: 3.5rem;
  letter-spacing: 0.05em;
  color: #424a63;
}

#main-definition .definition-content .definition-desc {
  position: relative;
  padding: 0 0 2rem 3rem;
  border-left: 2px solid #75282c;
  border-bottom: 2px solid #75282c;
  margin-bottom: 3rem;
  font-family: "Zilla Slab", serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: justify;
  color: #75282c;
}

#main-definition .definition-content .definition-desc .box {
  position: absolute;
  content: "";
  top: 0;
  left: -2px;
  width: 22px;
  height: 22px;
  border: 2px solid #75282c;
}

#main-definition .definition-content .definition-desc .box .inner {
  position: absolute;
  content: "";
  top: 10px;
  left: -2px;
  width: 10px;
  height: 10px;
  background-color: #75282c;
}

#main-definition .main-definition-wire {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  max-width: 100%;
}

/* end of definition 2 */
/* events */
#events {
  background-color: #424a63;
  max-width: 100vw;
  min-height: 100vh;
}

#events .rainbow {
  margin-top: 0px;
  margin-bottom: -50px;
  width: 100vw;
  max-width: 100%;
}

#events .container.EVENTS {
  padding: 10px 0px;
}

#events .container.EVENTS .events-header {
  position: relative;
}

#events .container.EVENTS .events-header .events {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 350px;
  max-width: 100%;
}

#events .container.EVENTS .d-flex {
  flex-wrap: wrap;
  color: #FFEBB0;
  margin-top: 225px;
}

#events .container.EVENTS .d-flex .EPC-events {
  font-family: "Abril Fatface", cursive;
  font-size: 36px;
  border: 3px solid #FDE7B6;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 10px;
}

#events .container.EVENTS .d-flex .SNOW-events {
  font-family: "Abril Fatface", cursive;
  font-size: 36px;
  border: 3px solid #FDE7B6;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 62px;
  padding-right: 62px;
  margin-bottom: 10px;
}

#events .container.EVENTS .d-flex .GR-events {
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  text-align: center;
  border: 3px solid #FDE7B6;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 10px;
}

#events .container.EVENTS .d-flex .BE-events {
  font-family: "Abril Fatface", cursive;
  font-size: 36px;
  border: 3px solid #FDE7B6;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 10px;
}

/* end of events */
/* epc */
#epc {
  background: linear-gradient(92.52deg, #C5D8AB 25%, rgba(197, 216, 171, 0.07) 98.14%);
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

#epc .epc-nih {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0px;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

#epc .container.epc {
  padding: 10px 0;
}

#epc .container.epc .epc-header {
  position: relative;
}

#epc .container.epc .epc-header .epc-icon {
  position: absolute;
  right: 0px;
  z-index: 1;
  width: 342px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#epc .container.epc .epc-header .epc-title {
  position: relative;
  font-family: "Abril Fatface", cursive;
  z-index: 2;
  font-size: 128px;
  color: #FFEBB0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding: 48px 0;
}

#epc .container.epc .epc-desc {
  border: 1px solid rgba(242, 242, 242, 0.17);
  padding: 20px 50px;
  background: rgba(242, 242, 242, 0.17);
  backdrop-filter: blur(4px);
}

#epc .container.epc .epc-desc p {
  font-family: "Zilla Slab", serif;
  font-size: 28px;
  font-weight: 600;
  color: #FFFFFF;
}

#epc .container.epc .epc-btn {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 32px;
  padding: 10px 43px;
  font-size: 18px;
  background-color: #424a63;
  font-family: "Zilla Slab", serif;
  color: #FFEBB0;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
}

/* end of epc */
/* SNOW */
#SNOW {
  background: linear-gradient(92.72deg, #DD949B 26.08%, rgba(221, 148, 155, 0) 98.19%);
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

#SNOW .snow-nih {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0;
  height: 100%;
  min-height: 100vh;
}

#SNOW .container.SNOW {
  padding: 10px 0;
}

#SNOW .container.SNOW .SNOW-header {
  position: relative;
}

#SNOW .container.SNOW .SNOW-header .logo-snow {
  position: absolute;
  z-index: 1;
  left: 0px;
  width: 342px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#SNOW .container.SNOW .SNOW-header .text-snow {
  position: relative;
  font-family: "Abril Fatface", cursive;
  z-index: 2;
  font-size: 108px;
  color: #FFFFFF;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding: 48px 0;
}

#SNOW .container.SNOW .snow-desc {
  border: 1px solid rgba(242, 242, 242, 0.17);
  padding: 20px 50px;
  background: rgba(242, 242, 242, 0.17);
  backdrop-filter: blur(4px);
}

#SNOW .container.SNOW .snow-desc p {
  font-family: "Zilla Slab", serif;
  font-size: 28px;
  font-weight: 600;
  color: #FFFFFF;
}

#SNOW .container.SNOW .snow-btn {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 32px;
  padding: 10px 43px;
  font-size: 18px;
  background-color: #75282c;
  font-family: "Zilla Slab", serif;
  color: #FFEBB0;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
}

/* end of SNOW */
/* Grand Roadshow */
#Grand-Roadshow {
  background: linear-gradient(93.42deg, #fde7b6 25%, rgba(253, 231, 182, 0.07) 119.42%);
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
}

#Grand-Roadshow .GR-nih {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0px;
  height: 100%;
  min-height: 100vh;
}

#Grand-Roadshow .container.Grand-Roadshow {
  padding: 10px 0;
}

#Grand-Roadshow .container.Grand-Roadshow .GR-header {
  position: relative;
}

#Grand-Roadshow .container.Grand-Roadshow .GR-header .logo-GR {
  position: absolute;
  left: 0px;
  z-index: 1;
  width: 438.38px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#Grand-Roadshow .container.Grand-Roadshow .GR-header .text-grand {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 88px;
  color: #FFEBB0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding-top: 0;
}

#Grand-Roadshow .container.Grand-Roadshow .GR-header .text-roadshow {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 88px;
  color: #FFFFFF;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding-top: 0px;
}

#Grand-Roadshow .container.Grand-Roadshow .definition-GR {
  border: 1px solid rgba(242, 242, 242, 0.17);
  padding: 20px 50px;
  background: rgba(242, 242, 242, 0.17);
  backdrop-filter: blur(4px);
}

#Grand-Roadshow .container.Grand-Roadshow .definition-GR p {
  font-family: "Zilla Slab", serif;
  font-size: 28px;
  font-weight: 600;
  color: #FFFFFF;
}

#Grand-Roadshow .container.Grand-Roadshow .GR-btn {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 32px;
  padding: 10px 43px;
  font-size: 18px;
  background-color: #9e5f19;
  font-family: "Zilla Slab", serif;
  color: #FFEBB0;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
}

/* End of Grand Roadshow */
/* Big Event */
#Big-Event {
  background: linear-gradient(93.22deg, #979FBA 25%, rgba(151, 159, 186, 0.07) 97.93%);
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
}

#Big-Event .BE-nih {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0px;
  height: 100%;
  min-height: 100vh;
}

#Big-Event .container.BE {
  padding: 10px 0;
}

#Big-Event .container.BE .BE-header {
  position: relative;
}

#Big-Event .container.BE .BE-header .logo-BE {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 362.88px;
  height: 362px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#Big-Event .container.BE .BE-header .text-BE {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 108px;
  color: #FFEBB0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding: 48px 0;
}

#Big-Event .container.BE .BE-desc {
  border: 1px solid rgba(242, 242, 242, 0.17);
  padding: 20px 50px;
  background: rgba(242, 242, 242, 0.17);
  backdrop-filter: blur(4px);
}

#Big-Event .container.BE .BE-desc p {
  font-family: "Zilla Slab", serif;
  font-size: 28px;
  color: #f2f2f2;
  font-weight: 600;
}

#Big-Event .container.BE .BE-btn {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 32px;
  padding: 10px 43px;
  font-size: 18px;
  background-color: #424a63;
  font-family: "Zilla Slab", serif;
  color: #FFEBB0;
  text-decoration: none;
}

/* end of Big Event*/
/* responsive */
@media screen and (max-width: 992px) {
  #header .header-epw {
    padding-top: 50px;
  }
  #header .header-2022 {
    padding-top: 20px;
    font-size: 56px;
  }
  #events .container.EVENTS .events-header .events {
    width: 340px;
  }
}

@media screen and (max-width: 769px) {
  #header {
    min-height: 100vh;
    max-height: 100vh;
  }
  #header .header-epw {
    padding-top: 100px;
  }
  #header .header-2022 {
    padding-top: 20px;
    font-size: 55px;
  }
  #main-theme .theme-title .large-text {
    font-size: 3.5rem;
  }
  #main-definition {
    position: relative;
    background-color: #FDE7B6;
    min-height: 100vh;
  }
  #main-definition .definition-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #main-definition .definition-content .definition-title {
    height: 160px;
    line-height: 160px;
    font-family: "Lobster", cursive;
    font-size: 3rem;
    text-align: justify;
    letter-spacing: 0.05em;
    color: #424a63;
  }
  #events .container.EVENTS .events-header .events {
    padding-top: 50px;
    width: 300px;
  }
}

@media screen and (max-width: 576px) {
  #header {
    min-height: 80vh;
    height: 100vh;
    max-height: 100vh;
  }
  #header .header-epw {
    padding-top: 120px;
  }
  #header .header-epw .logo-epw {
    width: 60%;
  }
  #header .header-2022 {
    font-size: 35px;
  }
  #header .header-2022 .logo-2022 {
    padding-top: 30px;
    width: 70%;
  }
  #header .container a {
    right: 5px;
    bottom: 5px;
  }
  #main-theme .theme-title .theme-sun {
    width: 45px;
  }
  #events .rainbow {
    padding-top: 0px;
    margin-top: 0px;
  }
  #events .container.EVENTS .d-flex {
    font-size: 30px;
  }
  #events .container.EVENTS .d-flex .BE-events {
    text-align: center;
  }
  #epc .container.epc .epc-header {
    margin: 0 20px 0 20px;
  }
  #epc .container.epc .epc-header .epc-title {
    font-size: 80px;
  }
  #epc .container.epc .epc-desc {
    padding: 20px 50px;
    margin: 0 20px 0 20px;
  }
  #epc .container.epc .epc-desc p {
    font-size: 20px;
  }
  #SNOW .container.SNOW .SNOW-header {
    margin: 0 20px 0 20px;
  }
  #SNOW .container.SNOW .SNOW-header .text-snow {
    font-size: 80px;
  }
  #SNOW .container.SNOW .snow-desc {
    padding: 20px 50px;
    margin: 0 20px 0 20px;
  }
  #SNOW .container.SNOW .snow-desc p {
    font-size: 20px;
  }
  #Grand-Roadshow .container.Grand-Roadshow .GR-header {
    margin: 0 20px 0 20px;
  }
  #Grand-Roadshow .container.Grand-Roadshow .GR-header .text-grand {
    font-size: 52px;
  }
  #Grand-Roadshow .container.Grand-Roadshow .GR-header .text-roadshow {
    font-size: 52px;
  }
  #Grand-Roadshow .container.Grand-Roadshow .definition-GR {
    padding: 20px 50px;
    margin: 0 20px 0 20px;
  }
  #Grand-Roadshow .container.Grand-Roadshow .definition-GR p {
    font-size: 20px;
  }
  #Big-Event .container.BE .BE-header {
    margin: 0 20px 0 20px;
  }
  #Big-Event .container.BE .BE-header .text-BE {
    padding-top: 70px;
    font-size: 70px;
  }
  #Big-Event .container.BE .BE-desc {
    padding: 20px 50px;
    margin: 0 20px 0 20px;
  }
  #Big-Event .container.BE .BE-desc p {
    font-size: 20px;
  }
}

@media screen and (max-width: 460px) {
  #main-theme .theme-title .large-text {
    font-size: 3.5rem;
  }
  #main-definition .main-definition-wire {
    position: static;
    display: block;
  }
  #main-definition .definition-content .definition-title {
    height: fit-content;
    line-height: 5rem;
    text-align: center !important;
  }
  #events .rainbow {
    margin-top: -50px;
  }
}

@media screen and (max-width: 370px) {
  #header .header-epw {
    padding-top: 50px;
  }
  #header .header-2022 {
    padding-top: 20px;
  }
  #header .header-2022 p {
    font-size: 45px;
  }
  #main-theme .theme-title .theme-sun {
    width: 40px;
  }
  #main-theme .theme-title .large-text {
    font-size: 2.8rem;
  }
}

#snow-header {
  background: linear-gradient(to right, #fde7b6 50%, #dd949b 50%);
  position: relative;
  padding: 4rem 0;
}

#snow-header .header {
  min-height: 90vh;
}

#snow-header .header-logo {
  width: 300px;
  max-width: 100%;
  display: inline-block;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#snow-header .header-title {
  font-family: "Abril Fatface", cursive;
  font-size: 4.5rem;
  letter-spacing: 0.2em;
  color: #424a63;
}

#snow-header .header-desc {
  font-family: "Lobster", cursive;
  font-size: 2.25rem;
  color: #424a63;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

#snow-header .header-line {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #424a63;
  opacity: 1;
  margin-bottom: 2rem;
}

#snow-about {
  background-color: #fde7b6;
  padding: 4rem 0;
}

#snow-about .about-header {
  position: relative;
}

#snow-about .about-header .header-line {
  position: absolute;
  content: "";
  background-color: #dd949b;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#snow-about .about-header .header-line:nth-of-type(1) {
  top: 0;
}

#snow-about .about-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#snow-about .about-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#snow-about .about-header .about-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: fit-content;
  color: #fde7b6;
  background-color: #424a63;
}

#snow-about .about-content {
  background-color: #424a63;
}

#snow-about .about-content .content-text {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fde7b6;
}

#snow-about .about-gallery {
  background-color: #dd949b;
  padding: 3rem 5rem;
  border-radius: 2rem;
  width: 1028px;
  max-width: 100%;
}

#snow-about .about-gallery .gallery-photo {
  background-color: grey;
  width: 100%;
  height: 170px;
  border-radius: 1.5rem;
}

#snow-desc {
  background-color: #fde7b6;
}

#snow-desc .description {
  padding: 5rem 3rem;
  border-radius: 3rem;
  background-color: #424a63;
}

#snow-desc .description-video {
  width: 750px;
  max-width: 100%;
  height: 425px;
  background-color: grey;
  margin-bottom: 4rem;
}

#snow-desc .description-theme {
  background-color: #dd949b;
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
}

#snow-desc .description-theme .theme-title {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: #fde7b6;
}

#snow-desc .description-theme .theme-desc {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #fde7b6;
}

#snow-desc .description-subtheme {
  background-color: #fde7b6;
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
}

#snow-desc .description-subtheme .subtheme-title {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: #424a63;
}

#snow-desc .description-subtheme .subtheme-desc {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #424a63;
}

#snow-prize {
  background-color: #424a63;
  padding: 4rem 0;
  position: relative;
  min-height: 700px;
}

#snow-prize .prize-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.5;
}

#snow-prize .container {
  max-width: 1000px;
  position: relative;
  z-index: 2;
}

#snow-prize .prize-header {
  position: relative;
}

#snow-prize .prize-header .header-line {
  position: absolute;
  content: "";
  background-color: #fde7b6;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#snow-prize .prize-header .header-line:nth-of-type(1) {
  top: 0;
}

#snow-prize .prize-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#snow-prize .prize-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#snow-prize .prize-header .prize-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: 425px;
  max-width: 100%;
  color: #fde7b6;
  background-color: #dd949b;
}

#snow-prize .prize-content {
  width: 330px;
  max-width: 100%;
}

#snow-prize .prize-content .prize-category {
  font-family: "Abril Fatface", cursive;
  font-size: 1.75rem;
  color: #fde7b6;
  background-color: #dd949b;
  border: 3px solid #fde7b6;
  padding: 1rem 0;
  text-transform: uppercase;
}

#snow-prize .prize-content .prize-detail {
  background-color: #fde7b6;
  border-radius: 3rem;
  padding: 0.75rem;
  border: 3px solid #75282c;
  box-sizing: border-box;
  margin: 2.5rem auto;
  position: relative;
  height: 74px;
}

#snow-prize .prize-content .prize-detail .prize-level {
  color: #a32c38;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}

#snow-prize .prize-content .prize-detail .prize-value {
  color: #75282c;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

#snow-prize .prize-content .prize-detail .prize-trophy {
  position: absolute;
  top: -3px;
  bottom: -3px;
  z-index: 2;
  width: 74px;
  border: 3px solid #75282c;
  border-radius: 50%;
}

#snow-prize .prize-content .prize-detail .prize-trophy.right-place {
  right: -3px;
  left: unset;
}

#snow-prize .prize-content .prize-detail .prize-trophy.left-place {
  right: unset;
  left: -3px;
}

#snow-timeline {
  background-color: #dd949b;
  padding: 4rem 0;
  position: relative;
}

#snow-timeline .timeline-header {
  position: relative;
}

#snow-timeline .timeline-header .header-line {
  position: absolute;
  content: "";
  background-color: #424a63;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#snow-timeline .timeline-header .header-line:nth-of-type(1) {
  top: 0;
}

#snow-timeline .timeline-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#snow-timeline .timeline-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#snow-timeline .timeline-header .timeline-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: 425px;
  max-width: 100%;
  color: #dd949b;
  background-color: #fde7b6;
}

#snow-timeline .timeline-desc {
  background-color: #fde7b6;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 3rem;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #424a63;
}

#snow-timeline .timeline-borders {
  width: 39px;
  max-width: 100%;
  height: 100%;
}

#snow-timeline .timeline-borders .borders-line {
  height: 100%;
  width: 5px;
  content: "";
  background-color: #fde7b6;
}

#snow-timeline .timeline-date {
  margin: 1.5rem 0 2rem;
  border-radius: 3rem;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  color: #424a63;
}

#snow-testimony {
  background-color: #424a63;
  padding: 4rem 0;
  position: relative;
  min-height: 700px;
}

#snow-testimony .testimony-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.5;
}

#snow-testimony .container {
  max-width: 1000px;
  position: relative;
  z-index: 2;
}

#snow-testimony .testimony-header {
  position: relative;
}

#snow-testimony .testimony-header .header-line {
  position: absolute;
  content: "";
  background-color: #fde7b6;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#snow-testimony .testimony-header .header-line:nth-of-type(1) {
  top: 0;
}

#snow-testimony .testimony-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#snow-testimony .testimony-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#snow-testimony .testimony-header .testimony-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: 425px;
  max-width: 100%;
  color: #fde7b6;
  background-color: #dd949b;
}

#snow-testimony .testimony-card {
  background-color: #fde7b6;
  border: 3px solid #a32c38;
  border-radius: 1.5rem;
  padding: 2rem;
  padding-left: 10rem;
  margin: 2rem 0 0 5rem;
  position: relative;
}

#snow-testimony .testimony-card .card-photo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40%, -50%);
  width: 228px;
  height: 228px;
  border-radius: 50%;
  border: 3px solid #a32c38;
  background-color: #fde7b6;
}

#snow-testimony .testimony-card .card-content {
  font-family: "Zilla Slab", serif;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: justify;
  color: #424a63;
}

#snow-testimony .testimony-card .card-author {
  width: fit-content;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #424a63;
}

@media screen and (max-width: 576px) {
  #snow-testimony .testimony-card {
    width: 300px;
    max-width: 100%;
    padding-left: 2rem;
    padding-top: 7rem;
    margin: 8rem auto 0;
  }
  #snow-testimony .testimony-card .card-photo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=style.css.map */