@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}

@media screen and (max-width: 576px) {
  * {
    font-size: 12px;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: #424a63;
}

::-webkit-scrollbar-track {
  background-color: #fde7b6;
}

.epw-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 100px;
}

#comingsoon {
  background-color: #c5d8ab;
  position: relative;
}

#comingsoon .comingsoon {
  min-height: 100vh;
  min-width: 100vw;
}

#comingsoon .comingsoon-title {
  font-family: "Abril Fatface", cursive;
  font-size: 4rem;
  color: #424a63;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#comingsoon .comingsoon-img {
  width: 300px;
  max-width: 100%;
  filter: drop-shadow(-2px 2px 4px rgba(0, 0, 0, 0.25));
}

#notfound {
  background-color: #c5d8ab;
  position: relative;
}

#notfound .notfound {
  min-height: 100vh;
  min-width: 100vw;
}

#notfound .notfound-title {
  font-family: "Abril Fatface", cursive;
  color: #424a63;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#notfound .notfound-404 {
  display: block;
  font-size: 4rem;
}

#notfound .notfound-desc {
  display: block;
  font-size: 3rem;
}

@media screen and (max-width: 576px) {
  .epw-logo {
    width: 70px;
  }
}

nav.navbar {
  background-color: #424a63;
  color: #fde7b6;
  height: 85px;
  z-index: 5;
}

nav.navbar .navbar-rainbow {
  display: flex;
  height: 85px;
  content: "";
  margin-right: 2rem;
}

nav.navbar .navbar-rainbow .rainbow {
  width: 30px;
  height: inherit;
  transform: skewX(-30deg);
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(1) {
  background-color: #839b4e;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(2) {
  background-color: #fde7b6;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(3) {
  background-color: #e56848;
}

nav.navbar .navbar-rainbow .rainbow:nth-of-type(4) {
  background-color: #a32c38;
}

nav.navbar button.navbar-toggler .fas {
  color: #fde7b6;
}

nav.navbar .navbar-nav {
  background-color: #424a63;
}

nav.navbar .navbar-nav a.nav-link {
  display: inline-block;
  height: fit-content;
  padding: 0 1.25rem;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: inherit;
  margin: auto 0;
}

nav.navbar .navbar-nav .dropdown .dropdown-menu {
  background-color: #65659b;
  border-color: #424a63;
}

nav.navbar .navbar-nav .dropdown .dropdown-menu a.dropdown-item {
  color: #fde7b6;
}

footer.footer-blue {
  background-color: #424a63;
  margin-top: -1px;
}

footer.footer-blue .footer-logo {
  width: 355px;
  max-width: 100%;
}

footer.footer-blue .footer-desc {
  color: #f2f2f2;
}

footer.footer-blue .footer-desc .footer-title {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 3rem;
  margin-top: 2rem;
}

footer.footer-blue .footer-desc .footer-content {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1.5px;
  color: inherit;
  text-decoration: none;
}

footer.footer-blue .footer-desc .footer-content p {
  font-size: 1.75rem;
}

footer.footer-blue .footer-desc .footer-content span {
  font-size: 1.25rem;
}

footer.footer-blue .footer-desc .footer-content .footer-icon {
  padding-right: 1rem;
}

footer.footer-blue .copyright {
  font-family: "Zilla Slab", serif;
  color: #fde7b6;
  font-size: 1rem;
}

/* header */
#header {
  overflow-x: hidden;
  background-color: #f2f2f2;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

#header .header-epw {
  margin: auto;
  padding-right: 0px;
  padding-left: 0px;
  align-items: center !important;
  justify-content: center !important;
}

#header .header-epw .logo-epw {
  width: 310.8px;
  padding-right: 0px;
}

#header .header-2022 {
  padding-right: 0px;
  margin-top: -30px;
}

#header .header-2022 p {
  text-align: center;
  font-size: 60px;
  font-family: "Abril Fatface", cursive;
  color: #65659b;
}

#header .container a {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* end of header */
/* pembatas 1 */
.garis {
  margin-top: 0px;
  height: 53px;
  width: 100%;
  max-width: 100vw;
}

/* pembatas 1 */
/* definiton 1 */
#main-theme {
  background-color: #fde7b6;
  margin-top: -2px;
  min-height: 100vh;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}

#main-theme .circuit-atas {
  width: 156px;
  max-width: 100%;
}

#main-theme .theme-title {
  position: relative;
}

#main-theme .theme-title .theme-sun {
  position: absolute;
  top: 0;
  right: -1rem;
}

#main-theme .theme-title .small-text {
  font-size: 2rem;
  font-family: "Lobster", cursive;
}

#main-theme .theme-title .large-text {
  font-size: 4rem;
  font-family: "Lobster", cursive;
}

#main-theme .theme-title .blue-text {
  color: #424a63;
}

#main-theme .theme-title .red-text {
  color: #75282c;
}

#main-theme .theme-title .min-left {
  margin-left: -1rem;
}

/* end of definition 1*/
/* definition 2 */
#main-definition {
  position: relative;
  background-color: #fde7b6;
  padding-bottom: 2rem;
  max-width: 100vw;
  margin-top: -1px;
}

#main-definition .definition-content {
  padding-left: 200px;
}

#main-definition .definition-content .definition-title {
  height: 160px;
  line-height: 160px;
  font-family: "Lobster", cursive;
  font-size: 3.5rem;
  letter-spacing: 0.05em;
  color: #424a63;
}

#main-definition .definition-content .definition-desc {
  position: relative;
  padding: 0 0 2rem 3rem;
  border-left: 2px solid #75282c;
  border-bottom: 2px solid #75282c;
  margin-bottom: 3rem;
  font-family: "Zilla Slab", serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: justify;
  color: #75282c;
}

#main-definition .definition-content .definition-desc .box {
  position: absolute;
  content: "";
  top: 0;
  left: -2px;
  width: 22px;
  height: 22px;
  border: 2px solid #75282c;
}

#main-definition .definition-content .definition-desc .box .inner {
  position: absolute;
  content: "";
  top: 10px;
  left: -2px;
  width: 10px;
  height: 10px;
  background-color: #75282c;
}

#main-definition .main-definition-wire {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  max-width: 100%;
}

/* end of definition 2 */
/* events */
#events {
  position: relative;
  background-color: #424a63;
  max-width: 100vw;
  min-height: 100vh;
}

#events .rainbow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  max-width: 100%;
}

#events .container.EVENTS {
  padding: 10px 0px;
}

#events .container.EVENTS .events-header {
  position: relative;
}

#events .container.EVENTS .events-header .events {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 350px;
  max-width: 100%;
}

#events .container.EVENTS .d-flex {
  flex-wrap: wrap;
  color: #FFEBB0;
  margin-top: 225px;
}

#events .container.EVENTS .d-flex .EPC-events {
  font-family: "Abril Fatface", cursive;
  font-size: 36px;
  border: 3px solid #FDE7B6;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 10px;
}

#events .container.EVENTS .d-flex .SNOW-events {
  font-family: "Abril Fatface", cursive;
  font-size: 36px;
  border: 3px solid #FDE7B6;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 62px;
  padding-right: 62px;
  margin-bottom: 10px;
}

#events .container.EVENTS .d-flex .GR-events {
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  text-align: center;
  border: 3px solid #FDE7B6;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 10px;
}

#events .container.EVENTS .d-flex .BE-events {
  font-family: "Abril Fatface", cursive;
  font-size: 36px;
  border: 3px solid #FDE7B6;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 10px;
}

/* end of events */
/* epc */
#epc {
  background: linear-gradient(92.52deg, #C5D8AB 25%, rgba(197, 216, 171, 0.07) 98.14%);
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

#epc .epc-nih {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0px;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

#epc .container.epc {
  padding: 10px 0;
}

#epc .container.epc .epc-header {
  position: relative;
}

#epc .container.epc .epc-header .epc-icon {
  position: absolute;
  right: 0px;
  z-index: 1;
  width: 342px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#epc .container.epc .epc-header .epc-title {
  position: relative;
  font-family: "Abril Fatface", cursive;
  z-index: 2;
  font-size: 128px;
  color: #FFEBB0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding: 48px 0;
}

#epc .container.epc .epc-desc {
  border: 1px solid rgba(242, 242, 242, 0.17);
  padding: 20px 50px;
  background: rgba(242, 242, 242, 0.17);
  backdrop-filter: blur(4px);
}

#epc .container.epc .epc-desc p {
  font-family: "Zilla Slab", serif;
  font-size: 28px;
  font-weight: 600;
  color: #f2f2f2;
}

#epc .container.epc .epc-btn {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 32px;
  padding: 10px 43px;
  font-size: 18px;
  background-color: #424a63;
  font-family: "Zilla Slab", serif;
  color: #FFEBB0;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
}

/* end of epc */
/* SNOW */
#SNOW {
  background: linear-gradient(92.72deg, #DD949B 26.08%, rgba(221, 148, 155, 0) 98.19%);
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

#SNOW .snow-nih {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0;
  height: 100%;
  min-height: 100vh;
}

#SNOW .container.SNOW {
  padding: 10px 0;
}

#SNOW .container.SNOW .SNOW-header {
  position: relative;
}

#SNOW .container.SNOW .SNOW-header .logo-snow {
  position: absolute;
  z-index: 1;
  left: 0px;
  width: 342px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#SNOW .container.SNOW .SNOW-header .text-snow {
  position: relative;
  font-family: "Abril Fatface", cursive;
  z-index: 2;
  font-size: 108px;
  color: #f2f2f2;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding: 48px 0;
}

#SNOW .container.SNOW .snow-desc {
  border: 1px solid rgba(242, 242, 242, 0.17);
  padding: 20px 50px;
  background: rgba(242, 242, 242, 0.17);
  backdrop-filter: blur(4px);
}

#SNOW .container.SNOW .snow-desc p {
  font-family: "Zilla Slab", serif;
  font-size: 28px;
  font-weight: 600;
  color: #f2f2f2;
}

#SNOW .container.SNOW .snow-btn {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 32px;
  padding: 10px 43px;
  font-size: 18px;
  background-color: #75282c;
  font-family: "Zilla Slab", serif;
  color: #FFEBB0;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
}

/* end of SNOW */
/* Grand Roadshow */
#Grand-Roadshow {
  background: linear-gradient(93.42deg, #fde7b6 25%, rgba(253, 231, 182, 0.07) 119.42%);
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
}

#Grand-Roadshow .GR-nih {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0px;
  height: 100%;
  min-height: 100vh;
}

#Grand-Roadshow .container.Grand-Roadshow {
  padding: 10px 0;
}

#Grand-Roadshow .container.Grand-Roadshow .GR-header {
  position: relative;
}

#Grand-Roadshow .container.Grand-Roadshow .GR-header .logo-GR {
  position: absolute;
  left: 0px;
  z-index: 1;
  width: 438.38px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#Grand-Roadshow .container.Grand-Roadshow .GR-header .text-grand {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 88px;
  color: #FFEBB0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding-top: 0;
}

#Grand-Roadshow .container.Grand-Roadshow .GR-header .text-roadshow {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 88px;
  color: #f2f2f2;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding-top: 0px;
}

#Grand-Roadshow .container.Grand-Roadshow .definition-GR {
  border: 1px solid rgba(242, 242, 242, 0.17);
  padding: 20px 50px;
  background: rgba(242, 242, 242, 0.17);
  backdrop-filter: blur(4px);
}

#Grand-Roadshow .container.Grand-Roadshow .definition-GR p {
  font-family: "Zilla Slab", serif;
  font-size: 28px;
  font-weight: 600;
  color: #f2f2f2;
}

#Grand-Roadshow .container.Grand-Roadshow .GR-btn {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 32px;
  padding: 10px 43px;
  font-size: 18px;
  background-color: #9e5f19;
  font-family: "Zilla Slab", serif;
  color: #FFEBB0;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
}

/* End of Grand Roadshow */
/* Big Event */
#Big-Event {
  background: linear-gradient(93.22deg, #979FBA 25%, rgba(151, 159, 186, 0.07) 97.93%);
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
}

#Big-Event .BE-nih {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0px;
  height: 100%;
  min-height: 100vh;
}

#Big-Event .container.BE {
  padding: 10px 0;
}

#Big-Event .container.BE .BE-header {
  position: relative;
}

#Big-Event .container.BE .BE-header .logo-BE {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 362.88px;
  height: 362px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#Big-Event .container.BE .BE-header .text-BE {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 108px;
  color: #FFEBB0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding: 48px 0;
}

#Big-Event .container.BE .BE-desc {
  border: 1px solid rgba(242, 242, 242, 0.17);
  padding: 20px 50px;
  background: rgba(242, 242, 242, 0.17);
  backdrop-filter: blur(4px);
}

#Big-Event .container.BE .BE-desc p {
  font-family: "Zilla Slab", serif;
  font-size: 28px;
  color: #f2f2f2;
  font-weight: 600;
}

#Big-Event .container.BE .BE-btn {
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 32px;
  padding: 10px 43px;
  font-size: 18px;
  background-color: #424a63;
  font-family: "Zilla Slab", serif;
  color: #FFEBB0;
  text-decoration: none;
}

/* end of Big Event*/
/* responsive */
@media screen and (max-width: 992px) {
  #header .header-epw {
    padding-top: 50px;
  }
  #header .header-2022 {
    padding-top: 20px;
    font-size: 56px;
  }
  #events .container.EVENTS .events-header .events {
    width: 340px;
  }
}

@media screen and (max-width: 769px) {
  #header {
    min-height: 100vh;
    max-height: 100vh;
  }
  #header .header-epw {
    padding-top: 100px;
  }
  #header .header-2022 {
    padding-top: 20px;
    font-size: 55px;
  }
  #main-theme .theme-title .large-text {
    font-size: 3.5rem;
  }
  #main-definition {
    position: relative;
    background-color: #FDE7B6;
    min-height: 100vh;
  }
  #main-definition .definition-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #main-definition .definition-content .definition-title {
    height: 160px;
    line-height: 160px;
    font-family: "Lobster", cursive;
    font-size: 3rem;
    text-align: justify;
    letter-spacing: 0.05em;
    color: #424a63;
  }
  #events .container.EVENTS .events-header .events {
    padding-top: 50px;
    width: 300px;
  }
}

@media screen and (max-width: 576px) {
  #header {
    min-height: 80vh;
    height: 100vh;
    max-height: 100vh;
  }
  #header .header-epw {
    padding-top: 120px;
  }
  #header .header-epw .logo-epw {
    width: 60%;
  }
  #header .header-2022 {
    font-size: 35px;
  }
  #header .header-2022 .logo-2022 {
    padding-top: 30px;
    width: 70%;
  }
  #header .container a {
    right: 5px;
    bottom: 5px;
  }
  #main-theme .theme-title .theme-sun {
    width: 45px;
  }
  #events .rainbow {
    padding-top: 0px;
    margin-top: 0px;
  }
  #events .container.EVENTS .d-flex {
    font-size: 30px;
  }
  #events .container.EVENTS .d-flex .BE-events {
    text-align: center;
  }
  #epc .container.epc .epc-header {
    margin: 0 20px 0 20px;
  }
  #epc .container.epc .epc-header .epc-title {
    font-size: 80px;
  }
  #epc .container.epc .epc-desc {
    padding: 20px 50px;
    margin: 0 20px 0 20px;
  }
  #epc .container.epc .epc-desc p {
    font-size: 20px;
  }
  #SNOW .container.SNOW .SNOW-header {
    margin: 0 20px 0 20px;
  }
  #SNOW .container.SNOW .SNOW-header .text-snow {
    font-size: 80px;
  }
  #SNOW .container.SNOW .snow-desc {
    padding: 20px 50px;
    margin: 0 20px 0 20px;
  }
  #SNOW .container.SNOW .snow-desc p {
    font-size: 20px;
  }
  #Grand-Roadshow .container.Grand-Roadshow .GR-header {
    margin: 0 20px 0 20px;
  }
  #Grand-Roadshow .container.Grand-Roadshow .GR-header .text-grand {
    font-size: 52px;
  }
  #Grand-Roadshow .container.Grand-Roadshow .GR-header .text-roadshow {
    font-size: 52px;
  }
  #Grand-Roadshow .container.Grand-Roadshow .definition-GR {
    padding: 20px 50px;
    margin: 0 20px 0 20px;
  }
  #Grand-Roadshow .container.Grand-Roadshow .definition-GR p {
    font-size: 20px;
  }
  #Big-Event .container.BE .BE-header {
    margin: 0 20px 0 20px;
  }
  #Big-Event .container.BE .BE-header .text-BE {
    padding-top: 70px;
    font-size: 70px;
  }
  #Big-Event .container.BE .BE-desc {
    padding: 20px 50px;
    margin: 0 20px 0 20px;
  }
  #Big-Event .container.BE .BE-desc p {
    font-size: 20px;
  }
}

@media screen and (max-width: 460px) {
  #main-theme .theme-title .large-text {
    font-size: 3.5rem;
  }
  #main-definition .main-definition-wire {
    position: static;
    display: block;
  }
  #main-definition .definition-content .definition-title {
    height: fit-content;
    line-height: 5rem;
    text-align: center !important;
  }
}

@media screen and (max-width: 370px) {
  #header .header-epw {
    padding-top: 50px;
  }
  #header .header-2022 {
    padding-top: 20px;
  }
  #header .header-2022 p {
    font-size: 35px;
  }
  #main-theme .theme-title {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  #main-theme .theme-title .theme-sun {
    width: 40px;
  }
  #main-theme .theme-title .large-text {
    font-size: 2rem;
  }
}

#snow-header {
  background: linear-gradient(to right, #fde7b6 50%, #dd949b 50%);
  position: relative;
  padding: 4rem 0;
}

#snow-header .header {
  min-height: 70vh;
}

#snow-header .header-logo {
  width: 300px;
  max-width: 100%;
  display: inline-block;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#snow-header .header-title {
  font-family: "Abril Fatface", cursive;
  font-size: 4.5rem;
  letter-spacing: 0.2em;
  color: #424a63;
}

#snow-header .header-desc {
  font-family: "Lobster", cursive;
  font-size: 2.25rem;
  color: #424a63;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

#snow-header .header-line {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #424a63;
  opacity: 1;
  margin-bottom: 2rem;
}

#snow-about {
  background-color: #fde7b6;
  padding: 4rem 0;
}

#snow-about .about-header {
  position: relative;
}

#snow-about .about-header .header-line {
  position: absolute;
  content: "";
  background-color: #dd949b;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#snow-about .about-header .header-line:nth-of-type(1) {
  top: 0;
}

#snow-about .about-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#snow-about .about-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#snow-about .about-header .about-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: fit-content;
  color: #fde7b6;
  background-color: #424a63;
}

#snow-about .about-content {
  background-color: #424a63;
}

#snow-about .about-content .content-text {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fde7b6;
}

#snow-about .about-gallery {
  background-color: #dd949b;
  padding: 3rem 5rem;
  border-radius: 2rem;
  width: 1028px;
  max-width: 100%;
}

#snow-about .about-gallery .gallery-photo {
  background-color: grey;
  width: 100%;
  height: 170px;
  border-radius: 1.5rem;
}

#snow-desc {
  background-color: #fde7b6;
}

#snow-desc .description {
  padding: 5rem 3rem;
  border-radius: 3rem;
  background-color: #424a63;
}

#snow-desc .description-video {
  width: 750px;
  max-width: 100%;
  height: 425px;
  background-color: grey;
  margin-bottom: 4rem;
}

#snow-desc .description-theme {
  background-color: #dd949b;
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
}

#snow-desc .description-theme .theme-title {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: #fde7b6;
}

#snow-desc .description-theme .theme-desc {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #fde7b6;
}

#snow-desc .description-subtheme {
  background-color: #fde7b6;
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
}

#snow-desc .description-subtheme .subtheme-title {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: #424a63;
}

#snow-desc .description-subtheme .subtheme-desc {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #424a63;
}

#snow-prize {
  background-color: #424a63;
  padding: 4rem 0;
  position: relative;
  min-height: 700px;
}

#snow-prize .prize-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.5;
}

#snow-prize .container {
  max-width: 1000px;
  position: relative;
  z-index: 2;
}

#snow-prize .prize-header {
  position: relative;
}

#snow-prize .prize-header .header-line {
  position: absolute;
  content: "";
  background-color: #fde7b6;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#snow-prize .prize-header .header-line:nth-of-type(1) {
  top: 0;
}

#snow-prize .prize-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#snow-prize .prize-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#snow-prize .prize-header .prize-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: 425px;
  max-width: 100%;
  color: #fde7b6;
  background-color: #dd949b;
}

#snow-prize .prize-content {
  width: 330px;
  max-width: 100%;
}

#snow-prize .prize-content .prize-category {
  font-family: "Abril Fatface", cursive;
  font-size: 1.75rem;
  color: #fde7b6;
  background-color: #dd949b;
  border: 3px solid #fde7b6;
  padding: 1rem 0;
  text-transform: uppercase;
}

#snow-prize .prize-content .prize-detail {
  background-color: #fde7b6;
  border-radius: 3rem;
  padding: 0.75rem;
  border: 3px solid #75282c;
  box-sizing: border-box;
  margin: 2.5rem auto;
  position: relative;
  height: 74px;
}

#snow-prize .prize-content .prize-detail .prize-level {
  color: #a32c38;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}

#snow-prize .prize-content .prize-detail .prize-value {
  color: #75282c;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

#snow-prize .prize-content .prize-detail .prize-trophy {
  position: absolute;
  top: -3px;
  bottom: -3px;
  z-index: 2;
  width: 74px;
  border: 3px solid #75282c;
  border-radius: 50%;
}

#snow-prize .prize-content .prize-detail .prize-trophy.right-place {
  right: -3px;
  left: unset;
}

#snow-prize .prize-content .prize-detail .prize-trophy.left-place {
  right: unset;
  left: -3px;
}

#snow-timeline {
  background-color: #dd949b;
  padding: 4rem 0;
  position: relative;
}

#snow-timeline .timeline-header {
  position: relative;
}

#snow-timeline .timeline-header .header-line {
  position: absolute;
  content: "";
  background-color: #424a63;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#snow-timeline .timeline-header .header-line:nth-of-type(1) {
  top: 0;
}

#snow-timeline .timeline-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#snow-timeline .timeline-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#snow-timeline .timeline-header .timeline-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: 425px;
  max-width: 100%;
  color: #dd949b;
  background-color: #fde7b6;
}

#snow-timeline .timeline-desc {
  background-color: #fde7b6;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 3rem;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #424a63;
}

#snow-timeline .timeline-borders {
  width: 39px;
  max-width: 100%;
  height: 100%;
}

#snow-timeline .timeline-borders .borders-line {
  height: 100%;
  width: 5px;
  content: "";
  background-color: #fde7b6;
}

#snow-timeline .timeline-date {
  margin: 1.5rem 0 2rem;
  border-radius: 3rem;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  color: #424a63;
}

#snow-testimony {
  background-color: #424a63;
  padding: 4rem 0;
  position: relative;
  min-height: 700px;
}

#snow-testimony .testimony-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.5;
}

#snow-testimony .container {
  max-width: 1000px;
  position: relative;
  z-index: 2;
}

#snow-testimony .testimony-header {
  position: relative;
}

#snow-testimony .testimony-header .header-line {
  position: absolute;
  content: "";
  background-color: #fde7b6;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#snow-testimony .testimony-header .header-line:nth-of-type(1) {
  top: 0;
}

#snow-testimony .testimony-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#snow-testimony .testimony-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#snow-testimony .testimony-header .testimony-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: 425px;
  max-width: 100%;
  color: #fde7b6;
  background-color: #dd949b;
}

#snow-testimony .testimony-card {
  background-color: #fde7b6;
  border: 3px solid #a32c38;
  border-radius: 1.5rem;
  padding: 2rem;
  padding-left: 10rem;
  margin: 2rem 0 0 5rem;
  position: relative;
}

#snow-testimony .testimony-card .card-photo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #a32c38;
  background-color: #fde7b6;
}

#snow-testimony .testimony-card .card-content {
  font-family: "Zilla Slab", serif;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: justify;
  color: #424a63;
}

#snow-testimony .testimony-card .card-author {
  width: fit-content;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #424a63;
}

@media screen and (max-width: 576px) {
  #snow-testimony .testimony-card {
    width: 300px;
    max-width: 100%;
    padding-left: 2rem;
    padding-top: 7rem;
    margin: 8rem auto 0;
  }
  #snow-testimony .testimony-card .card-photo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
  }
}

#epc-header {
  background: linear-gradient(to right, #fde7b6 50%, #c5d8ab 50%);
  position: relative;
  padding: 4rem 0;
}

#epc-header .header {
  min-height: 70vh;
}

#epc-header .header-logo {
  width: 300px;
  max-width: 100%;
  display: inline-block;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#epc-header .header-title {
  font-family: "Abril Fatface", cursive;
  font-size: 4.5rem;
  letter-spacing: 0.2em;
  color: #424a63;
}

#epc-header .header-desc {
  font-family: "Lobster", cursive;
  font-size: 2.25rem;
  color: #424a63;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

#epc-header .header-line {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #424a63;
  opacity: 1;
  margin-bottom: 2rem;
}

#epc-about {
  background-color: #fde7b6;
  padding: 4rem 0;
}

#epc-about .about-header {
  position: relative;
}

#epc-about .about-header .header-line {
  position: absolute;
  content: "";
  background-color: #e56848;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#epc-about .about-header .header-line:nth-of-type(1) {
  top: 0;
}

#epc-about .about-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#epc-about .about-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#epc-about .about-header .about-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: fit-content;
  color: #fde7b6;
  background-color: #424a63;
}

#epc-about .about-content {
  background-color: #424a63;
}

#epc-about .about-content .content-text {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fde7b6;
}

#epc-about .about-gallery {
  background-color: #c5d8ab;
  padding: 3rem 5rem;
  border-radius: 2rem;
  width: 1028px;
  max-width: 100%;
}

#epc-about .about-gallery .gallery-photo {
  background-color: grey;
  width: 100%;
  height: 170px;
  border-radius: 1.5rem;
}

#epc-desc {
  background-color: #fde7b6;
}

#epc-desc .description {
  padding: 5rem 3rem;
  border-radius: 3rem;
  background-color: #424a63;
}

#epc-desc .description-video {
  width: 750px;
  max-width: 100%;
  height: 425px;
  background-color: grey;
  margin-bottom: 4rem;
}

#epc-desc .description-theme {
  background-color: #c5d8ab;
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
}

#epc-desc .description-theme .theme-title {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: #424a63;
}

#epc-desc .description-theme .theme-desc {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #424a63;
}

#epc-desc .description-subtheme {
  background-color: #fde7b6;
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
}

#epc-desc .description-subtheme .subtheme-title {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: #424a63;
}

#epc-desc .description-subtheme .subtheme-desc {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #424a63;
}

#epc-prize {
  background-color: #424a63;
  padding: 4rem 0;
  position: relative;
  min-height: 700px;
}

#epc-prize .prize-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.5;
}

#epc-prize .container {
  max-width: 1000px;
  position: relative;
  z-index: 2;
}

#epc-prize .prize-header {
  position: relative;
}

#epc-prize .prize-header .header-line {
  position: absolute;
  content: "";
  background-color: #fde7b6;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#epc-prize .prize-header .header-line:nth-of-type(1) {
  top: 0;
}

#epc-prize .prize-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#epc-prize .prize-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#epc-prize .prize-header .prize-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: 425px;
  max-width: 100%;
  color: #424a63;
  background-color: #c5d8ab;
}

#epc-prize .prize-content {
  width: 330px;
  max-width: 100%;
}

#epc-prize .prize-content .prize-category {
  font-family: "Abril Fatface", cursive;
  font-size: 1.75rem;
  color: #424a63;
  background-color: #c5d8ab;
  border: 3px solid #fde7b6;
  padding: 1rem 0;
  text-transform: uppercase;
}

#epc-prize .prize-content .prize-detail {
  background-color: #fde7b6;
  border-radius: 3rem;
  padding: 0.75rem;
  border: 3px solid #839b4e;
  box-sizing: border-box;
  margin: 2.5rem auto;
  position: relative;
  height: 74px;
}

#epc-prize .prize-content .prize-detail .prize-level {
  color: #9ab270;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}

#epc-prize .prize-content .prize-detail .prize-value {
  color: #839b4e;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

#epc-prize .prize-content .prize-detail .prize-trophy {
  position: absolute;
  top: -3px;
  bottom: -3px;
  z-index: 2;
  width: 74px;
  border: 3px solid #839b4e;
  border-radius: 50%;
}

#epc-prize .prize-content .prize-detail .prize-trophy.right-place {
  right: -3px;
  left: unset;
}

#epc-prize .prize-content .prize-detail .prize-trophy.left-place {
  right: unset;
  left: -3px;
}

#epc-timeline {
  background-color: #c5d8ab;
  padding: 4rem 0;
  position: relative;
}

#epc-timeline .timeline-header {
  position: relative;
}

#epc-timeline .timeline-header .header-line {
  position: absolute;
  content: "";
  background-color: #424a63;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#epc-timeline .timeline-header .header-line:nth-of-type(1) {
  top: 0;
}

#epc-timeline .timeline-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#epc-timeline .timeline-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#epc-timeline .timeline-header .timeline-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: 425px;
  max-width: 100%;
  color: #424a63;
  background-color: #fde7b6;
}

#epc-timeline .timeline-desc {
  background-color: #fde7b6;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 3rem;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #424a63;
}

#epc-timeline .timeline-borders {
  width: 39px;
  max-width: 100%;
  height: 100%;
}

#epc-timeline .timeline-borders .borders-line {
  height: 100%;
  width: 5px;
  content: "";
  background-color: #fde7b6;
}

#epc-timeline .timeline-date {
  margin: 1.5rem 0 2rem;
  border-radius: 3rem;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.04em;
  color: #424a63;
}

#epc-testimony {
  background-color: #424a63;
  padding: 4rem 0;
  position: relative;
  min-height: 700px;
}

#epc-testimony .testimony-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 100%;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.5;
}

#epc-testimony .container {
  max-width: 1000px;
  position: relative;
  z-index: 2;
}

#epc-testimony .testimony-header {
  position: relative;
}

#epc-testimony .testimony-header .header-line {
  position: absolute;
  content: "";
  background-color: #fde7b6;
  opacity: 1;
  margin: 0;
  height: 10px;
  width: 100%;
  left: 0;
}

#epc-testimony .testimony-header .header-line:nth-of-type(1) {
  top: 0;
}

#epc-testimony .testimony-header .header-line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

#epc-testimony .testimony-header .header-line:nth-of-type(3) {
  bottom: 0;
}

#epc-testimony .testimony-header .testimony-title {
  position: relative;
  z-index: 2;
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  width: 425px;
  max-width: 100%;
  color: #424a63;
  background-color: #c5d8ab;
}

#epc-testimony .testimony-card {
  background-color: #fde7b6;
  border: 3px solid #e56848;
  border-radius: 1.5rem;
  padding: 2rem;
  padding-left: 10rem;
  margin: 2rem 0 0 5rem;
  position: relative;
}

#epc-testimony .testimony-card .card-photo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-40%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #e56848;
  background-color: #fde7b6;
}

#epc-testimony .testimony-card .card-content {
  font-family: "Zilla Slab", serif;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: justify;
  color: #424a63;
}

#epc-testimony .testimony-card .card-author {
  width: fit-content;
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #424a63;
}

@media screen and (max-width: 576px) {
  #epc-testimony .testimony-card {
    width: 300px;
    max-width: 100%;
    padding-left: 2rem;
    padding-top: 7rem;
    margin: 8rem auto 0;
  }
  #epc-testimony .testimony-card .card-photo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

.tf {
  background-image: url("../img/bg-about-tf.png");
  /* position: relative; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.tf .TF {
  padding-top: 30vh;
  overflow-x: hidden;
  /* Note: backdrop-filter has minimal browser support */
}

.tf .TF .TF-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
  padding: 25px;
  background: rgba(154, 178, 112, 0.68);
  backdrop-filter: blur(4px);
  border-radius: 15px;
  text-align: center;
}

@media (max-width: 567.95px) {
  .tf .TF .TF-text {
    width: 75%;
  }
}

.tf .TF .TF-text h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
  line-height: 5rem;
  color: #424a63;
  overflow-y: hidden;
}

@media (max-width: 567.95px) {
  .tf .TF .TF-text h1 {
    font-size: 4rem;
  }
}

.tf .TF .ITS-text {
  margin-top: 20px;
  padding: 5px;
  width: 36%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(253, 231, 182, 0.84);
  border-radius: 15px;
  overflow-x: hidden;
}

.tf .TF .ITS-text h2 {
  padding: 0.5em;
  font-family: Abril Fatface;
  font-size: 1.4rem;
  text-align: center;
  overflow-x: hidden;
  color: #424a63;
}

.EP {
  background-image: url("../img/bg-ep.png");
  overflow-y: hidden;
  background-position: center;
  background-size: cover;
}

.EP .ep-title {
  margin-top: 6rem;
}

.EP h1 {
  color: #424a63;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}

@media (min-width: 768px) {
  .EP h1 {
    font-size: 4rem;
  }
}

@media (max-width: 568.75px) {
  .EP h1 {
    font-size: 2rem;
  }
}

.EP .Ep-text {
  background: rgba(253, 231, 182, 0.63);
  backdrop-filter: blur(4px);
  width: 80%;
  height: 50%;
  display: -ms-flexbox;
  /* position: absolute; */
  /* padding-top: 2em; */
  /* -webkit-box-align: center; */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 9rem;
  padding: 2em;
  font-weight: 500;
  text-align: justify;
  margin-top: 6rem;
}

@media (min-width: 768px) {
  .EP .Ep-text p {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    font-family: "Zilla Slab", serif;
    color: #839B4E;
  }
}

@media (max-width: 568.75px) {
  .EP .Ep-text p {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    font-family: "Zilla Slab", serif;
    color: #839B4E;
  }
}

.bidang-minat {
  background-color: #c5d8ab;
  display: flex;
  position: relative;
}

.bidang-minat .container .vektor {
  position: absolute;
  right: 9%;
  top: 7%;
}

.bidang-minat .container .vektor img {
  max-width: 100%;
  height: auto;
}

.bidang-minat .container .bidmin-title {
  margin-top: 3rem;
  font-family: Abril Fatface;
  display: flex;
  float: left;
}

.bidang-minat .container .bidmin-title .number p {
  font-family: "Abril Fatface", cursive;
  font-size: 12rem;
  line-height: 14rem;
  color: #424a63;
}

.bidang-minat .container .bidmin-title .title {
  margin-left: 3rem;
  line-height: 5em;
  color: #839B4E;
}

.bidang-minat .container .bidmin-title .title .bidmin-tf {
  font-family: "Abril Fatface", cursive;
  font-size: 4rem;
}

.bidang-minat .container .bidmin-title .title .sub-title {
  display: inline-flex;
}

.bidang-minat .container .bidmin-title .title .sub-title .di {
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
}

.bidang-minat .container .bidmin-title .title .sub-title .tff {
  font-size: 4rem;
  font-family: "Abril Fatface", cursive;
}

.bidang-minat .container .content-bidmin {
  display: inline-block;
  padding-bottom: 6rem;
}

.bidang-minat .container .content-bidmin ul {
  margin-top: 1.5rem;
  padding-left: 2.4rem;
  list-style: none;
}

.bidang-minat .container .content-bidmin ul li {
  font-family: Zilla Slab;
  font-size: 2.25rem;
  background: linear-gradient(90deg, #fde7b6 0%, rgba(253, 231, 182, 0) 118.48%);
  border: 1px solid #424a63;
  color: #424a63;
  box-sizing: border-box;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
}

.laboratorium {
  background-color: #9ab270;
  display: flex;
  position: relative;
}

.laboratorium .container .vektor {
  position: absolute;
  left: 9%;
  top: 4%;
}

.laboratorium .container .vektor img {
  max-width: 100%;
  height: auto;
}

.laboratorium .container .lab-title {
  font-family: "Abril Fatface", cursive;
  display: flex;
  float: right;
  margin-top: 2rem;
}

.laboratorium .container .lab-title .number p {
  font-family: "Abril Fatface", cursive;
  font-size: 11rem;
  line-height: 14rem;
  color: #424a63;
}

.laboratorium .container .lab-title .title {
  margin-left: 3rem;
  line-height: 5em;
  color: #FDE7B6;
}

.laboratorium .container .lab-title .title .labs {
  font-family: "Abril Fatface", cursive;
  font-size: 4rem;
}

.laboratorium .container .lab-title .title .sub-title {
  display: inline-flex;
}

.laboratorium .container .lab-title .title .sub-title .di {
  font-size: 2.5rem;
  font-family: "Abril Fatface", cursive;
}

.laboratorium .container .lab-title .title .sub-title .tff {
  font-size: 4rem;
  font-family: "Abril Fatface", cursive;
}

.laboratorium .container .content-lab {
  display: inline-block;
  padding-bottom: 5rem;
  margin-left: 4rem;
}

.laboratorium .container .content-lab a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0;
  font-family: Zilla Slab;
  font-size: 2.4rem;
  background: linear-gradient(90deg, #424563 0%, rgba(66, 74, 99, 0) 119.01%);
  border: 1px solid #fde7b6;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
}

.laboratorium .container .content-lab a:hover {
  color: #a32c38;
  background: #fde7b6;
  display: block;
  transition: 0.3s;
}

@media (min-width: 321px) and (max-width: 450px) {
  .bidang-minat {
    margin-top: -2%;
    overflow: hidden;
  }
  .bidang-minat .container .vektor {
    position: absolute;
    right: -7%;
    top: 4%;
  }
  .bidang-minat .container .vektor img {
    max-width: 45%;
    height: auto;
  }
  .bidang-minat .container .bidmin-title {
    margin-top: 1rem;
    padding: 2rem 0;
    margin-left: 2rem;
    float: left;
  }
  .bidang-minat .container .bidmin-title .number p {
    font-size: 4rem;
    line-height: 1rem;
  }
  .bidang-minat .container .bidmin-title .title {
    margin-left: 1rem;
    line-height: 2.5rem;
  }
  .bidang-minat .container .bidmin-title .title .bidmin-tf {
    font-size: 1.8rem;
  }
  .bidang-minat .container .bidmin-title .title .sub-title .di {
    font-size: 1.2rem;
  }
  .bidang-minat .container .bidmin-title .title .sub-title .tff {
    font-size: 1.8rem;
  }
  .bidang-minat .container .content-bidmin {
    display: inline-block;
  }
  .bidang-minat .container .content-bidmin ul {
    list-style: none;
    padding: 0 1.3rem;
  }
  .bidang-minat .container .content-bidmin ul li {
    font-family: Zilla Slab;
    font-size: 1.25rem;
    background: linear-gradient(90deg, #fde7b6 0%, rgba(253, 231, 182, 0) 118.48%);
    border: 1px solid #424a63;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    padding: 0.3rem 0.5rem;
  }
  .laboratorium .container {
    padding-left: -2rem;
  }
  .laboratorium .container .vektor {
    position: absolute;
    left: 4%;
    top: 4%;
  }
  .laboratorium .container .vektor img {
    max-width: 45%;
    height: auto;
  }
  .laboratorium .container .lab-title {
    font-family: "Abril Fatface", cursive;
    display: flex;
    float: right;
    margin-top: 2rem;
  }
  .laboratorium .container .lab-title .number p {
    font-family: "Abril Fatface", cursive;
    font-size: 5rem;
    line-height: 5rem;
    color: #424a63;
  }
  .laboratorium .container .lab-title .title {
    margin-bottom: 2rem;
    margin-left: 1rem;
    line-height: 2.5rem;
  }
  .laboratorium .container .lab-title .title .labs {
    font-size: 1.8rem;
  }
  .laboratorium .container .lab-title .title .sub-title .di {
    font-size: 1.2rem;
  }
  .laboratorium .container .lab-title .title .sub-title .tff {
    font-size: 1.5rem;
  }
  .laboratorium .container .content-lab {
    display: inline-block;
    padding-bottom: 3rem;
  }
  .laboratorium .container .content-lab a {
    text-decoration: none;
    color: #fff;
    padding: 0;
    font-family: Zilla Slab;
    font-size: 1.25rem;
    background: linear-gradient(90deg, #424563 0%, rgba(66, 74, 99, 0) 119.01%);
    border: 1px solid #fde7b6;
    box-sizing: border-box;
    margin-left: -2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
  }
  .laboratorium .container .content-lab a :hover {
    color: #a32c38;
    background-color: #fde7b6;
    display: block;
    transition: 0.3s;
  }
}

body {
  font-family: "Abril Fatface", cursive;
  background-color: #c5d8ab;
  margin: 0 auto;
  height: 100% !important;
  width: 100% !important;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
}

.first-section {
  position: relative;
}

.first-section .bg-attribute {
  position: absolute;
  top: 3em;
  z-index: -4;
}

.first-section .bg-attribute img {
  width: 295px;
  height: auto;
}

.first-section .bg-attribute-after {
  position: absolute;
  /* float: right; */
  right: 0;
  right: 4%;
  top: 40%;
  z-index: -4;
}

.first-section .container .first-line {
  margin-left: auto;
  margin-right: auto;
}

.first-section .container .first-line .normal-line {
  border-bottom: 10px solid #424a63;
}

.first-section .container .first-line .dashed-line {
  margin-top: 20px;
  border-bottom: 20px dashed #e56848;
}

.first-section .container .hero-content {
  padding-top: 9em;
  padding-bottom: 11em;
}

.first-section .container .hero-content .epc-logo img {
  display: block;
  width: 600px;
  height: auto;
  margin: auto;
}

.first-section .container .hero-content .epc-title {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 2em;
  color: #424a63;
}

.section-two {
  position: relative;
  margin-top: 3em;
}

.section-two .bg-attribute-1 {
  position: absolute;
  margin-top: 1em;
}

.section-two .bg-attribute-2 {
  position: absolute;
  left: 50%;
  z-index: -5;
  top: 0%;
}

.section-two .bg-attribute-2 img {
  max-width: 75%;
}

.section-two .section-title {
  color: #424a63;
}

.section-two .content {
  padding-top: 3em;
}

.section-two .content .content-date {
  padding-left: 3em;
}

.section-two .content .name ul li {
  font-family: "Zilla Slab", serif;
  color: #e56848;
  font-size: 1.4rem;
  font-weight: 600;
  list-style: none;
  margin-bottom: 10px;
}

.section-two .content .date ul {
  border-left: 10px solid #e56848;
}

.section-two .content .date ul li {
  font-family: "Zilla Slab", serif;
  color: #424a63;
  font-size: 1.3rem;
  font-weight: 600;
  list-style: none;
  margin-bottom: 10px;
  line-height: 2rem;
}

.section-two .content .date ul li a {
  color: #e56848;
}

.bg-attribute-sc3 {
  position: relative;
  margin-top: 2em;
}

.bg-attribute-sc3 img {
  position: inherit;
  right: 0;
  width: 100%;
  height: auto;
}

.section-three {
  color: #424a63;
  font-family: "Zilla Slab";
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #ffebb0;
  margin-top: -0.5em;
}

.section-three .content-list {
  padding: 1em 0;
}

.section-three .content-list ul li {
  list-style: auto;
  margin-bottom: 2rem;
}

.section-three .regist-btn {
  padding-bottom: 1em;
}

.section-three .regist-btn a {
  color: #fde7b6;
  text-decoration: underline;
  display: inline-block;
  background-color: #e56848;
  margin-left: 10%;
  width: 15em;
  text-align: center;
  padding: 0.3em;
  text-decoration: none;
}

.section-three .regist-btn a:hover {
  background-color: #fa6540;
  transition: 0.3s;
}

.section-three .contact-person {
  padding: 2em 0 2em 2em;
}

footer.footer-blue {
  background-color: #424a63;
}

footer.footer-blue .footer-logo {
  width: 355px;
  max-width: 100%;
}

footer.footer-blue .footer-desc {
  color: #f2f2f2;
}

footer.footer-blue .footer-desc .footer-title {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 3rem;
  margin-top: 2rem;
}

footer.footer-blue .footer-desc .footer-content {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1.5px;
  color: inherit;
  text-decoration: none;
}

footer.footer-blue .footer-desc .footer-content p {
  font-size: 1.75rem;
}

footer.footer-blue .footer-desc .footer-content span {
  font-size: 1.25rem;
}

footer.footer-blue .footer-desc .footer-content .footer-icon {
  padding-right: 1rem;
}

footer.footer-blue .copyright {
  font-family: "Zilla Slab", serif;
  color: #fde7b6;
  font-size: 1rem;
}

@media (min-width: 321px) and (max-width: 450px) {
  .first-section {
    position: relative;
  }
  .first-section .bg-attribute {
    position: absolute;
    top: 3em;
    z-index: -4;
  }
  .first-section .bg-attribute img {
    width: 8rem;
    height: auto;
  }
  .first-section .bg-attribute-after {
    position: absolute;
    /* float: right; */
    right: 0;
    right: 4%;
    top: 47%;
    z-index: -4;
  }
  .first-section .bg-attribute-after img {
    max-width: 6rem;
  }
  .first-section .container .first-line {
    margin-left: auto;
    margin-right: auto;
  }
  .first-section .container .first-line .normal-line {
    border-bottom: 7px solid #424a63;
  }
  .first-section .container .first-line .dashed-line {
    margin-top: 20px;
    border-bottom: 13px dashed #e56848;
  }
  .first-section .container .hero-content {
    padding-top: 9em;
    padding-bottom: 11em;
  }
  .first-section .container .hero-content .epc-logo img {
    display: block;
    max-width: 90%;
    height: auto;
    margin: auto;
  }
  .first-section .container .hero-content .epc-title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 2em;
    color: #424a63;
  }
  .section-two {
    width: 100%;
    overflow: hidden;
    margin-bottom: 3em;
  }
  .section-two .bg-attribute-1 {
    margin-top: 0.6em;
    left: -1.7rem;
  }
  .section-two .bg-attribute-1 img {
    max-width: 2.3rem;
  }
  .section-two .container .bg-attribute-2 {
    left: 78%;
    top: 13%;
  }
  .section-two .container .bg-attribute-2 img {
    max-width: 12rem;
  }
  .section-three {
    font-size: 1.5rem;
  }
  .section-three .content-list {
    padding: 1em 0;
  }
  .section-three .content-list ul li {
    list-style: auto;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .section-three .regist-btn {
    padding-bottom: 1em;
  }
  .section-three .regist-btn a {
    margin-left: 3%;
    width: 100%;
    padding: 0.3em;
  }
  .section-three .regist-btn a:hover {
    background-color: #fa6540;
    transition: 0.3s;
  }
  .section-three .contact-person {
    padding: 2em 0 2em 2em;
  }
}

.pengembangan {
  width: 800px;
  max-width: 100%;
}

.pengembangan-judul {
  font-family: "Zilla Slab", serif;
  font-size: 32px;
  color: #424a63;
  background-color: #fde7b6;
  width: fit-content;
  padding: 10px 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pengembangan-isi {
  color: #424a63;
  list-style-type: decimal;
  margin-bottom: 1rem;
  font-size: 22px;
}

.penelitian {
  width: 800px;
  max-width: 100%;
}

.penelitian-judul {
  font-family: "Zilla Slab", serif;
  font-size: 32px;
  color: #424a63;
  background-color: #fde7b6;
  width: fit-content;
  padding: 10px 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.penelitian-isi {
  list-style-type: decimal;
  margin-bottom: 1rem;
  color: #424a63;
  font-size: 22px;
}

.penghargaan {
  width: 800px;
  max-width: 100%;
}

.penghargaan-judul {
  font-family: "Zilla Slab", serif;
  font-size: 32px;
  color: #424a63;
  background-color: #fde7b6;
  width: fit-content;
  padding: 10px 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.penghargaan-isi {
  list-style-type: decimal;
  margin-bottom: 3rem;
  color: #424a63;
  font-size: 22px;
}

.body {
  background-color: #F2F2F2;
}

.judul h1 {
  font-family: "Abril Fatface", cursive;
  color: #424a63;
  margin-bottom: 1rem;
}

.container-2 p {
  font-family: "Zilla Slab", serif;
  font-size: 22px;
  margin-top: 35px;
  margin-right: 60px;
  text-align: justify;
  color: #424a63;
  line-height: 30px;
}

body {
  background-color: #f2f2f2;
}

@media (min-width: 321px) and (max-width: 450px) {
  body {
    margin-right: 10px;
    margin-left: 10px;
  }
  .container h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=style.css.map */